[2015-02-22 15:18] thepian commented on #498
will be merged as part of #465

[2015-02-22 15:18] #498 closed

[2015-02-22 15:26] thepian commented on #312
I think it is important to ensure that you can still explicitly have @import statements in the compiled CSS if that is what you really want to do.

LESS and SASS formatters make the distinction, so it's important that this is a formatter responsibility not one in the bundler.

The simplest solution is to have a CSS Import Combining formatter.

[2015-02-23 15:19] arxpoetica commented on #465
Awesome work.

[2015-02-23 15:19] arxpoetica opened #505 "Semver?"
Thoughts?

[2015-02-23 15:20] kulicuu commented on #465
Srsly awesome.

[2015-02-23 15:21] arxpoetica commented on #505
http://semver.org/ FYI

[2015-02-23 15:28] kulicuu commented on #505
Yes.

[2015-02-25 07:51] thepian commented on #505
Yes

[2015-02-25 07:53] thepian commented on #465
Thanks. Got a webpack bundler mostly working, and I think JSPM wouldn't be much of a problem either, or browserify for that matter.

[2015-02-25 08:14] paulbjensen commented on #505
Cool - please go ahead.

[2015-02-26 01:51] arxpoetica commented on #465
Very good news.

[2015-03-03 09:14] thepian commented on #465
Now part of next. Needs more love, but should work.

[2015-03-03 09:14] #465 closed

[2015-03-03 17:50] thepian commented on #455
@paulbjensen Could you have a look at the next branch and see how you like the option to use relative dependencies in client defs.

[2015-03-04 10:39] paulbjensen commented on #455
I'll try and get a look into it tonight. Thanks for your work, I'm sorry I
haven't been as active recently.

Regards,

Paul Jensen

On 3 March 2015 at 17:50, Henrik Vendelbo <notifications@github.com> wrote:

--
Paul Jensen
07914 171 345

[2015-03-08 15:45] thepian commented on #435
So can this be closed or updated to reflect the current state ?

[2015-03-08 16:40] thepian opened #507 "Make 0.4.x ready for release"
This is a place to collect things TODO to get the `0.4` completely done. Will take a couple of minor releases

* [x] Merge fixes for live reload
* [x] Merge connect/express improvements
* [x] Default bundler can load code module as name, name/entry.* or name/index.*
* [x] Start will kick off the correct module
* [x] Default entry init added to start automatically not using system assets
* [x] Dev

[2015-03-08 17:17] thepian commented on #408
I'd suggest that we have two jshint files. One for lib and one for unit tests. This way we avoid linting fixtures and other auxiliary files. And we can adjust the rules to fit the purpose

[2015-03-08 17:18] thepian commented on #491
The pull request is basically done. Just need to add tests to make sure I haven't broken too much. Feel free to check it out.

[2015-03-08 18:03] paulbjensen commented on #408
What if we add fixtures and auxiliary files to .jshintignore?

[2015-03-08 20:20] kulicuu commented on #435
It's upgraded very well, but not yet leveraging all new possibilities.  This will require some design insight and decisions on your (plural) part.  I'm also full-time into a new job, so absent for a bit.

[2015-03-08 20:30] kulicuu commented on #507
:)  I will find time to contribute to this sometime this week.  May be small, but I will.

[2015-03-09 16:12] thepian commented on #491
I've merged with latest master and I have a lot of tests blowing up. If @kulicuu, @lafras-h or @paulbjensen could lend a hand tracking down the issues that would be great. If not I will figure it out.

[2015-03-09 20:31] thepian commented on #491
sorted

[2015-03-09 20:31] #491 closed

[2015-03-09 20:48] thepian commented on #473
I see this as a way to feed views into gulp targets for generating production code. I suppose that there could also be a way to feed gulp tasks into views. I think gulp based formatters should be a thing.

[2015-03-09 21:02] thepian commented on #487
@paulbjensen Is this now fixed ?

[2015-03-09 21:26] thepian opened #508 "User session and latest express (bug/security/?)"
In my app the cookie 'connect.sid' isn't visible as it is http only by default. I think that is a desired setting in many sites. How did it work before?

I think we can work around it if the client opens the socket connection with its own generated ID and the server keeps track of both IDs. Perhaps some thought is needed here, or is it just a bug to fix?

@paulbjensen @kulicuu any suggestions ?

[2015-03-10 06:11] kulicuu commented on #508
I'm going to research this-- I confess ignorance.  Interested to read other thoughts here.

[2015-03-10 06:14] kulicuu commented on #473
By views you mean sending gulp itself to the browser ?   Can you elaborate.  Is very intruiging but not clear on precise intention.

[2015-03-10 06:39] paulbjensen commented on #487
I merged a PR from @lafras-h about 1-2 weeks ago, which I tested manually and it works but I don't think it added any automated tests.

This can be marked as closed, and as for automated tests, I can take a look into it.

[2015-03-10 09:01] thepian commented on #508
My ignorance knows no bounds. Looking forward to your findings.

[2015-03-10 09:05] thepian commented on #473
by view I mean view definition. ss.client.define

So feeding the assets defined in a definition into a gulp task. Say for instance you want to use SS to bundle the view, and then gulp to pack and annotate it.

[2015-03-10 09:06] #487 closed

[2015-03-10 09:07] thepian commented on #480
Perhaps this could be the task to add a couple of tests for live_reload

[2015-03-10 09:46] kulicuu commented on #473
Okay yeah that makes sense.

[2015-03-10 13:02] paulbjensen commented on #480
Agreed.

[2015-03-11 16:18] thepian commented on #480
Btw, I just saw live_reload kicking in while running tests. We should also find a way to make it inert while running the tests that do not depend on it being active

[2015-03-11 16:22] thepian commented on #408
That might be a good idea, you might want to drop in quite nasty stuff for fixtures

[2015-03-11 16:29] lafras-h commented on #480
The default parameters are almost identical to the original live reload, so the tests should be affected the same, alternatively set the delay very long, or disable altogether.

[2015-03-11 19:46] thepian commented on #438
This is now fixed in 0.4, which we hope to release in a month or so. If you want to try it out check out the `next` branch.

[2015-03-11 19:46] #438 closed

[2015-03-11 19:47] thepian commented on #287
You can now do that with what is in the `next` branch. We just need an example/documentation.

[2015-03-11 20:00] thepian commented on #480
I'm sure it's trivial, just a reminder to do it :)

[2015-03-11 20:05] thepian commented on #294
With 0.4 you should be able to make a modified bundler that does what you want. But I suppose we could still have a look at supporting more options for bundling templates.

On a project I work on we bundle Angular templates in a javascript and serve them with the code. Although it felt strange to me at first, I must admit that it has few drawbacks I can think of.

So I'd like to see more options a

[2015-03-11 20:08] thepian commented on #312
The relative URL of assets now work the same in development and production in version 0.4

If you want to resolve @import statements in CSS you can make a custom bundler that does it for you.

So to me this is fixed.

[2015-03-11 20:08] #312 closed

[2015-03-11 23:03] thepian commented on #507
60% coverage btw. Yes I know even at 100% it won't be enough, but it's rising.

[2015-03-13 16:19] thepian commented on #353
We now have a branch with a solution

* view specific constants can be defined in the defintion. They will be global objects in the browser.
* global constants can be defined with ss.client.send('constant', 'name', 'value')

TODO:
* documentation
* make constants available in formatters

@paulbjensen can you have a quick look if this seems Ok

[2015-03-14 17:42] thepian commented on #353
@mdedetrich How does this match what you were doing?

[2015-03-15 11:59] #353 closed

[2015-03-15 14:09] #469 closed

[2015-03-15 14:16] #287 closed

[2015-03-15 20:59] thepian commented on #497
My solution is to offer a new API where formatters and template_engines are functions that return an instance. They could actually be called with new. That way you can supply a factory function or a constructor, and either will work.

The old API with init call will work unchanged for 0.3

I will try to use a streaming approach like in Gulp so they can be used as part of a build chain as well.

[2015-03-15 21:01] thepian commented on #505
Can we get an acceptance criteria for this, please? Not sure what need to be done other than documenting a bit under contributions

[2015-03-15 21:02] #466 closed

[2015-03-15 21:13] thepian commented on #287
@kulicuu If you want to work on this you should pick up #455

It would be really neat, but I think it could easily be left for past 0.4, perhaps 0.4.2, assuming 0.4.1 are fixes based on feedback

[2015-03-16 09:11] klausb commented on #508
Is that an effect of the latest changes regarding the engine.io update?
I've currently created a dependency to connect.sid, to control sticky sessions on load balancers.

If that's no longer there, what's the proposed strategy?

[2015-03-16 09:49] klausb commented on #405
I don't get it. The gist shows how to start the server from with npm, but does it help to stop the server, when the packing is done?

[2015-03-16 12:56] kulicuu commented on #508
I'm going to try to look through all this stuff this week.  I'm busy with a new job, but should be able to put some hours to this as well.  Preview: Things with both Connect and EngineIo have changed; but there are a bunch of resolution possibilities for this to maintain your functionality.  I'll have more to say on this as soon as I get a chance to look into it fully.

[2015-03-17 04:32] auch188 opened #511 "writing from client to external db via RPC"
Hi I'm new to socket stream and posted on the google groups site. I'm not sure if I should be posting an issue but I wasn't getting an answer in google groups.

I was trying out socketstream and wanted to write to an external db. I read the documentation and followed the instructions by writing code in the main app.js file as follows;

[code]

I then tried to call the db api in the server/rpc/exam

[2015-03-17 04:46] kulicuu commented on #511
Try `ss.api.db.set("User", user)` and generally alias it .

[2015-03-17 08:05] paulbjensen commented on #511
Try <code>ss.api.db</code> instead of <code>ss.db</code>

[2015-03-17 09:18] paulbjensen commented on #505
At the start of the project and to this day SocketStream followed a pattern of 0.<x> being major updates (i.e. Owen rewriting it and making big changes), which goes against the convention of <x>.0 being major updates.

If we want to switch to <x>.0, then we need to look at what would be a major update to SocketStream, as well as when we'd want to classify SocketStream as stable. During the time I'

[2015-03-17 17:27] thepian commented on #508
connect.sid seems to be a cookie controlled by Express/Connect, so it is up to the application dev to configure how the cookie is set. Ideally it should be up to the application design whether this is kept http only.

Does engine.io need it in the browser for load balancing ?

[2015-03-17 17:32] thepian commented on #511
Where are you accessing this DB? The ss.api is passed to plugins as the variable ss.

From your application, I'd expect you to have a module that exports the database client so you can share it among app modules without involving socketstream.

[2015-03-17 17:35] thepian commented on #405
We should be able to provide an explicit way of packing resources without starting the server. Ideally I'd like to do it together with the Gulp shortcuts #473

[2015-03-17 22:26] auch188 commented on #511
Hi guys

Thanks for the replies. I figured it out. I needed to call my external Redis db instance directly from the server in my server/rpc/example.js file instead of using ss.api.db.

Please close

[2015-03-18 06:26] #511 closed

[2015-03-21 19:57] arxpoetica opened #513 "Let's break out the docs, yes?"
We started to do that at one point. Right now they all sit in this repo, which is fine, but it'd probably be best if they're separate from the main engine (IMO). That way we can structure the setup however we need to.

Let me know your thoughts. In the meantime, I've checked them out to start to make improvements to them.

Side note, I know @RomanMinkin did a lot of work on them at some point, whi

[2015-03-21 20:08] arxpoetica commented on #505
So just really quick, I think we can press forward, like Paul is saying to reach `0.4`. BUT.

The value of semver is that it gives an outward community something really predictable and reliable to look to.

 * Users will know that any `0.0.x` release is just bug fixes (non-breaking),
 * Users will know that any `0.x.x` release may include both bug fixes and or improvements or changes to the platfo

[2015-03-22 09:12] paulbjensen commented on #513
The docs are generated by a grunt task, and pushed up to the gh-pages branch on Github.

The reason that the docs were put with the code is because they generate documentation from the code comments. Here is an example: http://socketstream.github.io/socketstream/docs/#/api/http.index:index

[2015-03-22 11:41] arxpoetica commented on #513
Ah, okay that's quite a trick. Makes sense to leave them as is then. I'll close.

[2015-03-22 11:41] #513 closed

[2015-03-22 13:25] thepian commented on #513
Actually I think writing articles about how to use Socketstream on other destinations is much more important. We should actively try to extend the community. The docs are not great, but they mostly do the job. The ideal would be to recruit someone that has helped make stellar docs on another project.

[2015-03-22 13:40] thepian opened #514 "template engine use, how should it work?"
I'm writing tests and tweaking the functionality, and it seems I broke something, so I need clarification.

If I understand it correctly the use call sets the engine to use for all views. How is that set? It doesn't seem to change defaultEngine.

I'm contemplating creating the client object with a prototype of defaults. One of the defaults would be the templateEngine. That would allow bundlers to

[2015-03-22 13:55] paulbjensen commented on #514
@thepian I'll take a look now

[2015-03-22 14:14] thepian commented on #514
I didn't break it, just wrote a bad test, however the question remains; Fundamentally.

Are we happy with the current logic?

You can assign a template engine to a path. By default it is root. (is root the client dir?)

You can't assign it to an extension or a pattern. Perhaps it could be a combination of,

* The engine suggests a file name pattern or extension
* The app assigns it to a FS branch.

[2015-03-22 14:26] thepian commented on #514
Pushed the tests to the logging branch. We still need tests for subpaths and for custom template engines.

[2015-03-22 16:04] kulicuu commented on #508
Got it thanks.  I'll get to it as soon as I can -- hopefully next few days.

[2015-03-23 18:27] luksch opened #515 "socketstream breaks apps when used with iojs 1.6.x"
it seems that the old test for node versions 0.6 in

lib/request/middleware/index.js

breaks more modern apps that run on iojs, since they are now on version 1.6.x

**Proposed fix:**

change line 11 of lib/request/middleware/index.js

    existslib = process.version.split('.')[1] === '6' && require('path') || require('fs');

to

    existslib =  require('fs');

does it for me

[2015-03-23 18:46] paulbjensen commented on #515
Yeah, I think that there was a plan to change that line as Node 0.6 is beyond what we'd look to support today.

Thanks for spotting it. I'll see if we can change it quickly.

[2015-03-23 21:16] thepian commented on #514
Do we know of any engines that rely on prefix/suffix of template markup?

[2015-03-23 21:45] thepian commented on #497
@RomanMinkin Didn't you make an Angular template engine? Are you using suffix and prefix?

[2015-03-24 02:47] arxpoetica commented on #513
@thepian I have more to say. I'm going to open a new ticket w/ a more general "improve docs" question.

[2015-03-24 03:03] arxpoetica opened #516 "Documentation improvement"
[See https://github.com/socketstream/socketstream/issues/513 as a precursor to this.]

I've created a `feature/doc-updates` branch. I think it was @RomanMinkin who did a tremendous effort in going through our docs and trying to get them in a better state. However, after having given them a good look over, I think we've over complicated the task by throwing an angular wrapper around the documentati

[2015-03-24 03:43] arxpoetica commented on #516
Just to give everyone a quick "for example," I can't find anywhere that gives an installation guide for setting up SocketStream to do development work on the app itself. Fortunately, with a little trial and error I was able to figure it out on my own (npm link!). But there should be a 101 on this. I started writing it. Anyone want to modify it? Did I do it right?

[code]

I know @kulicuu said once

[2015-03-24 11:23] luksch commented on #515
That would be good, since we use iojs and I now need to write some extra grunt task to let our deployment system work around this. Very annoying....

[2015-03-24 13:13] arxpoetica commented on #515
@luksch tangent—but out of curiosity, what are you using SocketStream for?

[2015-03-24 13:22] arxpoetica commented on #515
I created a pull request for this. @paulbjensen (or someone) pls. review: https://github.com/socketstream/socketstream/pull/517

[2015-03-24 13:24] luksch commented on #515
@arxpoetica

Our application can be found here: https://app.arbvestor.com

In order to see anything you would need to register @ https://arbvestor.com, which is free. If you are into arbitrage betting this could be of use to you. If you just want to have a peek - well do that then :)

Note that the production system is still on nodejs, not iojs. iojs is on development environment and we want to sw

[2015-03-24 13:25] arxpoetica commented on #515
Cool.

[2015-03-24 13:26] arxpoetica commented on #515
I created a pull request for this. @paulbjensen (or someone) pls. review: #517

[2015-03-24 18:49] thepian commented on #516
Could you try to branch of next rather than master, I've put quite a bit of additional documentation in there.

I really do not feel like merging all those comments and converting them to JSDoc.

I expect that 0.4 topics will be complete within the next month, so that would mean that there is a release candidate for it then in the existing NG Docs format.

---
On NG vs JS docs.

NGDocs don't seem

[2015-03-24 23:05] RomanMinkin commented on #516
Hey guys, when I was adding `ng-docs` I also was looking for a better solution, but i did not find anything better at that tome. I was targeting two goals:
1. Make docs searchable with no back-end required
2. Internal SecketStream API support, since it's an open source project

So `ng-docs` to me is more like docs provider than docs generator.

Right now I would take a look at https://stripe.com/d

[2015-03-24 23:14] RomanMinkin commented on #516
...forgot to add that I also bright `ng-docs` for automated change log generation https://github.com/socketstream/socketstream/blob/master/CHANGELOG.md

[2015-03-24 23:29] RomanMinkin commented on #497
@thepian , no i made this one https://github.com/RomanMinkin/ss-angular-templates it uses custom formatter function.

I like streaming idea API idea. What do you think about https://github.com/isaacs/node-glob or https://github.com/wearefractal/vinyl-fs?
`gulp` uses the second one.

[2015-03-25 16:30] thepian commented on #516
I just used bourbon.io ; it's quite nice, I wonder what they made it with

[2015-03-25 16:38] thepian commented on #497
I tried vinyl-fs long time ago. I find streams a bit difficult to Grok, so perhaps it is something to have under the hood and not in the default interface. What I really like is the notion that one file might result in multiple files as output.

My current approach is to stick with the current callback api and support returning an Error instead of throwing it, as the throwing is incompatible with

[2015-03-26 17:20] thepian commented on #515
Perhaps add a bit of testing so coverage doesn't suffer?

[2015-03-26 17:21] thepian commented on #514
I think I understand it now

[2015-03-26 17:21] #514 closed

[2015-03-28 21:26] arxpoetica commented on #515
@thepian two things; I'm not fluent enough in the testing environment of SS to add one (sorry!), but also, #517 is not a feature for the `next` branch, but a hotfix on `master`. The idea is to help out @luksch in the short term on `0.3`.

I do plan to get up to speed on the testing environment. If you feel a test is requisite for this hotfix, feel free. Sorry I can't be of more immediate help.

[2015-03-28 21:45] arxpoetica commented on #516
@thepian I'll delete the working docs branch and rebranch off of next—I haven't done anything significant yet—but I do plan on working with markdown.

This may be a useful tool for us: https://fiddle.md

We can take up considerations about JSDocs vs ngdocs vs something else at a later date; it's not the most important aspect of documentation, I agree.

[2015-03-28 21:47] arxpoetica commented on #516
*updated* docs branch: https://github.com/socketstream/socketstream/tree/feature/doc-updates-0.4

[2015-03-28 22:08] thepian commented on #515
Sure nm, we probably merge from next to master anyway. It would be nice if it was merged to next as well though, so people can test out next without loosing hot fixes.

[2015-03-28 22:10] thepian commented on #516
Great

[2015-03-28 23:53] arxpoetica commented on #515
I'll cherry pick it in.

[2015-03-29 14:23] #497 closed

[2015-03-29 14:32] thepian commented on #505
I see 0.4 as non-breaking, at least for 99% of users. There are new APIs, but old ones are supported.

Does this involve any code change? semver module for instance

[2015-03-29 16:16] RomanMinkin commented on #497
@thepian i did not use them, i found custom template function more powerful.

[2015-03-30 00:29] arxpoetica commented on #505
@thepian interesting. If it's truly non breaking then 0.4 would sort of fall in step, with semver. Even so, I would keep it 0.4 for clarity.

As to a module, there might be one, but the change I'm proposing is only just something to agree on (or not).

[2015-03-30 01:43] arxpoetica commented on #488
FYI, I'm currently digging into Koa over here: https://github.com/socketstream/ss-examples/tree/master/ractive-jade-koa. I haven't pushed anything up yet, but I will soon. I may ask for a hand and opinions soon.

[2015-03-30 01:46] arxpoetica commented on #468
@kulicuu @thepian @paulbjensen you guys want to try hitting another conversation any time soon? I'm on vacation next week—I might be able to find some time.

[2015-03-30 09:10] luksch commented on #515
It would be awesome to get this fix in the npm version soon. Thanks everybody for the effort.

[2015-03-30 11:05] thepian commented on #468
I'm away Wednesday until Monday, but this time I'm in Europe, so hopefully I will have reliable WiFi whenever it takes place.

[2015-03-31 12:23] thepian opened #522 "Make separate team for bots"
Hound CI is a core contributor. Please make a team with less access.

[2015-03-31 12:32] thepian commented on #505
+1

[2015-03-31 12:34] thepian commented on #515
@paulbjensen Could we move tasks to 0.3.13 so 0.3.12 can be released soon ? We are getting close to 0.4 anyway so might as well cut down on 0.3 release scope.

[2015-03-31 12:38] thepian commented on #405
I suggest we do this for 0.4 rather than 0.3

Could be done in tandem with Gulp integration/support

[2015-03-31 12:40] luksch commented on #515
+1

[2015-03-31 16:50] arxpoetica commented on #505
Okay, cool. I'm gonna go ahead and call this sufficiently vetted, and close it. We can discuss further (if needed) once the `next`/`0.4` release lands.

[2015-03-31 16:50] #505 closed

[2015-04-01 05:36] paulbjensen commented on #515
@thepian yes, absolutely fine with me. WRT publishing to npm, what is your handle on npm - so I can add you as an author to be able to do publishing.

[2015-04-03 15:19] arxpoetica commented on #522
I was just thinking about this. What's your reason @thepian? I was definitely noticing that all these bots were creating a lot of noise with all the inline comments on pull requests. I suppose that's a good thing—it forces us to go back and clean up unlinted code. But it also makes it hard to look for non-bot comments in pull requests. Thoughts?

[2015-04-03 16:21] thepian commented on #522
Not sure, but we need to be forced to make tests and stick to our linting rules. Personally I don't care about 90% of lint rules as they don't help me read or write the code, but some are a good thing. If there are too many messages we should reduce to a set of rules we can apply and stick to. For code coverage, we have to get to 100%. Refactoring without knowing what is expected and not is imposs

[2015-04-03 16:26] thepian commented on #515
user on npmjs.com is `thepian`

[2015-04-03 16:47] paulbjensen commented on #515
Thanks, I've added you to the npm so you can publish updates.

[2015-04-04 09:09] thepian commented on #490
Are anyone using web workers? Is there an app anywhere that I can look at?

[2015-04-04 09:11] thepian commented on #454
Do I understand this correctly in that the cookie `connect.sid` is the current session ID, and you would like a way to set that to JSESSIONID ?

[2015-04-04 09:52] thepian commented on #454
@klausb I've created https://github.com/socketstream/socketstream/pull/523 which should fix your issue.
What do you think?

[2015-04-04 17:40] thepian opened #524 "engine.io support plan for webworkers, compression, binary, persistent users"
After the upgrade to the latest engine.io #435 the next steps must be planned,

- [ ] Plan solution for resuming session across server restarts and page reloads
- [ ] Plan option for running stream in web worker
- [ ] Plan support for compression and binary data

Ideally a mirror plan should be made for SockJS support

[2015-04-04 17:42] thepian commented on #435
I have created a new story #524  for this, please do the planning there.

[2015-04-04 17:42] #435 closed

[2015-04-04 18:00] thepian opened #525 "Easy setup path by example or yeoman script"
Socketstream is easy to get running, we will make it even easier

- Example with E2E tests: Multiple servers
- Example: Grunt starter script for linting, releases, and bundling for production.
- Example: Gulp starter script for linting, releases, and bundling for production.
- Yeoman builder: Coffee/JS SockJS/Socket.io Jade/Hogan Less/Sass
- Document the decisions to make for a new site

#378 Gave

[2015-04-04 18:01] thepian commented on #378
Closing this to make a better issue #525 entry for 0.5

[2015-04-04 18:01] #378 closed

[2015-04-05 08:59] #515 closed

[2015-04-05 09:00] thepian commented on #454
If it doesn't solve your issue please reopen, it will be part of 0.3.12

[2015-04-05 09:00] #454 closed

[2015-04-05 11:43] thepian commented on #508
False alarm, I'm sure all is working fine

[2015-04-05 14:11] arxpoetica commented on #522
Let me clarify. I care enormously about linting—it's AS GOOD as tests for catching bugs/errors. It also gives code consistency and sanity. I was only questioning the utility of the bots. There are other techniques for linting.

I'm fine with or without bots, just wanted to clarify what I see as the value of linting (absolutely) vs. the value of bots (maybe).

[2015-04-06 07:09] thepian commented on #522
If we don't use something like hound, I think a commit trigger or watcher is needed

[2015-04-06 12:14] luksch opened #527 "how to use the connect bodyParser"
Since 0.3.12 I can't do this anymore:

    ss.http.middleware.prepend( ss.http.connect.bodyParser() );

It was sugegsted in the docs http://socketstream.github.io/socketstream/docs/#/tutorials/http_middleware

Question is, how to get the behavior back?

[2015-04-07 12:58] thepian commented on #527
I will have a look at that. Do you know that it is supposed to work with the latest connect?

[2015-04-07 13:43] luksch commented on #527
It seems that the body parser is now outside the core of connect.

https://www.npmjs.com/package/body-parser

http://stackoverflow.com/questions/24330014/bodyparser-is-deprecated-express-4

[2015-04-07 18:23] thepian commented on #527
That was my assumption, but the deprecation is express not connect. In connect it seems that just a part is deprecated.

[2015-04-07 18:43] thepian commented on #527
@kulicuu Did you read anything about this when upgrading Connect ?

[2015-04-08 18:38] thepian commented on #527
@luksch Can you check if `connect.bodyParser()` is still there? If not this is really a connect issue, then it is missing documentation. I think prepend still works, but I think tests are missing for that.

[2015-04-09 08:14] paulbjensen commented on #525
I had an idea this morning of moving the code in the lib/cli folder into its own npm module. This would allow us to reuse the logic in a Yeoman generator, as well as reduce the amount of code that SocketStream contains (new_project could move into the ss-generator npm). The idea would then be to have this ss-generator npm be included in socketstream and support it's cli commands, but the files and

[2015-04-09 18:19] arxpoetica commented on #522
sounds good.

[2015-04-09 18:52] thepian commented on #525
+1

[2015-04-10 17:41] paulbjensen commented on #525
Here is the repo: https://github.com/socketstream/ss-generator.

Once I've resolved all the issues, I'll create a feature branch of SocketStream where ss-generator is used in place of the lib/cli code.

[2015-04-10 18:49] arxpoetica commented on #525
I appreciate moving it into its own repo.

[2015-04-11 07:42] luksch commented on #527
I fixed our problem by getting rid of the need for body parser altogether. It  was easy, since it was actually a line of code that did not surf any purpose any more. I did not look deeper into this, since I had to go on doing other stuff.

[2015-04-11 08:28] thepian commented on #525
Would you merge that on 0.3 or 0.4 ?

[2015-04-11 12:49] paulbjensen commented on #525
It could go in at 0.3 - no features are being added/removed, it's relocating where the code for the CLI functionality exists.

[2015-04-11 16:47] thepian commented on #424
Done

[2015-04-11 16:47] #424 closed

[2015-04-11 20:09] arxpoetica commented on #516
Hey—so I set up a workspace on Hackpad for a collaborative place to edit docs-in-the-works.

Naturally, the best place to have the docs is still in `.md` files under the `/docs` folder committed in this github repo. But I wanted somewhere where it would be easy to edit stuff a little more on the fly and in a collaborative way. Hackpad is pretty awesome for this kind of stuff (it's better than Goog

[2015-04-12 09:06] paulbjensen commented on #516
Thanks @arxpoetica. Yeah I markdown is still a great way to do docs.

Looking at the thread, I agree with @thepian that getting articles on SocketStream would have a big impact on growing the community. I'd like to assist but time is of short supply for the next 2 months at least (finishing client work and writing book).

Id also like to get the SocketStream Twitter account in more hands - I looke

[2015-04-12 17:40] thepian commented on #516
I think the fundamental strategy should be
1) Keep a steady stream of improvements to Socketstream (at a manageable pace)
2) Satisfy one existing fronted dev community at a time

IMO streaming is a niche feature, so pitching to the converted is not the best use of time. Better to show the usefulness to people that are not used to it.

I'd like for instance to show really good support for Angular t

[2015-04-16 10:07] thepian commented on #522
Guess nobody cares

[2015-04-16 10:07] #522 closed

[2015-04-16 10:19] thepian commented on #426
@mooglin With the improvements in 0.4 you should be able to fix this.

Assets are in the same location during development and production.

You can pass constants to the client by adding them to the client definition.

Obtaining session id through a cookie would be a problem with local files. This should be addressed in 0.4.1 as the general focus.

Feel free to continue this request/discussion unde

[2015-04-16 10:19] #426 closed

[2015-04-16 10:23] thepian commented on #429
@luksch Where are you on this? I think this is the only issue with Socketstream that isn't being resolved.

[2015-04-16 10:43] luksch commented on #429
In the moment I disabled the second node process. The load on our server is moderate enough so that only one process does the job well enough. Still, the issue remains serious, since this bug/feature/whatever prevents simple horizontal scaling. I still can't see the use case of the behavior as it is implemented right now. In what situation is it useful to publish to all sessions for a node instanc

[2015-04-16 12:09] thepian commented on #429
That is fine. However I want to have a solid solution of this at a known and reasonable timescale. IMO the best solution is to write a set of tests for the scenarios that must work. Do we have a couple of months runway to get this figured out?

[2015-04-16 12:16] luksch commented on #429
As you see, the issue is well over a year old already. Another two months will not be the end of the world. I am just happy to see that finally socketstream seems alive again. It is such a nice little framework and I would hate to see it die, although I can't put much time into it personally.

[2015-04-16 12:20] thepian commented on #408
@RomanMinkin what should we do with this story?

While I would love to have no linting issues a lot might be lost when merging with 0.4

Secondly the linting issues remaining are quite concentrated in `engingio`.

[2015-04-16 14:19] paulbjensen commented on #429
To add some context, my reply that was mentioned on Apr 16, 2014 should be revisited. I worked out what was going on, but I've yet to make the change so that you can configure the behaviour to work differently.

[2015-04-16 14:22] paulbjensen commented on #429
The channels are attached to the session id, and when you visit the site on localhost:3000 and localhost:3001 in the same browser, then both will load the same cookie, hence the same session id.

[2015-04-16 15:46] luksch commented on #429
I recall that I was not really accessing my site via the node port(s) directly but I used HAproxy configured with sticky sessions. Maybe I misconfigured this at that time, I don't exactly remember.

The question remains, how would one do what I wanted, meaning not connecting to two running instances in the same browser, but accessing a load balanced installation.

[2015-04-16 19:30] thepian commented on #429
Ah is HAproxy exposing multiple servers on different ports on the same public ip and then passing the traffic on to the servers. This would mean that the client would see them as being on the same domain.

What you want to achieve is that the clients are directed to a single server all the time, is that correct ?

I've never tried using HAproxy, so I don't have an opinion on the best config.

It w

[2015-04-19 20:39] paulbjensen opened #532 "Make 0.4.1 to include existsLib fix"
We will need to push a 0.4.1 release to resolve the existsLib issue.

[2015-04-19 22:38] thepian commented on #532
Indeed. Looking at some other possible fixes to squeeze in.

[2015-04-20 13:39] arxpoetica commented on #532
/off-topic, but the whole point of semver is not worrying about minor releases like 0.4.x—do as many as needed to keep things working!

[2015-04-20 15:28] thepian commented on #532
Yes I agree, but it still takes me an hour to release making sure nothing is broken. So I don't want to do it every day

[2015-04-20 15:30] thepian commented on #532
On a tangentially related note I've noticed that engine-io client is loaded as a library. Shouldn't it be loaded as a CommonJS module ? Perhaps @kulicuu can comment.

[2015-04-20 22:36] thepian commented on #488
Should we replace our Router impl with some existing npm module like 'routes-router' ?

[2015-04-20 22:46] #527 closed

[2015-04-20 22:46] #532 closed

[2015-04-21 00:39] arxpoetica commented on #488
I think that's a good idea—granted that we still allow for defining clients.

[2015-04-22 09:18] thepian opened #533 "Engine.io client as module and optional"
When we upgraded to the latest engine.io the client was left as a library. It should be a CommonJS module, so it can be excluded if you use SockJS. Additionally the client shouldn't be in the codebase, but rather be fetched from an npm module.

@kulicuu Could you add some details about this so we can get a solid improvement done.

[2015-04-22 09:47] paulbjensen commented on #533
It's possible that this could be moved out, in fact SocketStream originally has socket.io as the bundled library, which could be swapped out with engine.io via ss-engine.io or sockjs with ss-sockjs.

ss-engine.io hasn't been updated in a while, but could be updated and thus the code for web sockets is loaded that way, rather than being inside the core of SocketStream.

[2015-04-22 12:54] thepian commented on #408
Now we have a commit hook to disallow jshint issues

[2015-04-22 12:54] #408 closed

[2015-04-22 12:58] thepian commented on #533
I don't think it has to be a SocketStream plugin as such(although that is also an option). I merely think that the client code shouldn't be a mandatory library loaded regardless, but rather a system module that will be loaded if needed given the configuration.

[2015-04-26 19:31] arxpoetica opened #534 "Critical: failing `ss.client.send` on `templateEngine.use` in 0.4.x"
This is true for the `ss-hogan` and `ss-ractive`—both work in 0.3.x, but stopped working correctly in 0.4x:

[code]

I know partially what's going on here, but not *why*. Note this line: https://github.com/socketstream/socketstream/blob/1136dd4163a9e134f349ef6c21cda327d7c31ba4/lib/client/template_engine.js#L79 and this line: https://github.com/socketstream/socketstream/blob/1136dd4163a9e134f349ef6

[2015-04-26 20:38] thepian commented on #534
If you don't find it I will try to write unit tests for 'ss.client.send' to track it down. Shouldn't be hard.

[2015-04-26 22:21] arxpoetica commented on #534
This appears to be the breaking change: https://github.com/socketstream/socketstream/commit/9bfdad5a84df1e3fdd74e6f2c9de697af4e06968#diff-e0f3678f754a6146e6e9109a7830a48fL96

Essentially, `init` was passed `ss` in the past, but is now conditionally passed `ss.root` in the case where `typeof mod` is not a function.

*Most* of the current template wrappers (ss-jade, ss-hogan, ss-ractive, ss-coffekup

[2015-04-26 22:24] arxpoetica commented on #534
(
for reference:

https://github.com/socketstream/ss-jade/blob/master/wrapper.js#L6
https://github.com/socketstream/ss-hogan/blob/master/engine.js#L7
https://github.com/socketstream/ss-ractive/blob/master/engine.js#L7
https://github.com/socketstream/ss-coffeekup/blob/master/engine.js#L5
)

[2015-04-27 17:40] thepian commented on #534
Could it be that the template engine is created before `ss.client` is assigned ?

[2015-04-27 17:41] thepian commented on #534
Ah, I mistook the API for being like formatter

[2015-04-27 18:32] arxpoetica commented on #534
@thepian right, they're technically different. I think they should be the same/similar, though. Thoughts? I think I'd rather have a breaking change and make them the same.

[2015-04-27 19:31] #480 closed

[2015-04-27 19:37] thepian commented on #534
Nothing should be changed from before, it was my mistake copying things around. I never wrote a template engine before, so I didn't know any better. It's fixed now, will do a release.

In 0.4 we also support a simpler API for formatters and template_engine. Instead of making an object with an init function, the formatter or engine is that same function. In both cases the first parameter is the Soc

[2015-04-27 19:42] #534 closed

[2015-04-27 19:56] thepian commented on #534
Try `npm install` now

[2015-04-27 20:12] arxpoetica commented on #534
Cool & thx.

[2015-04-27 21:19] thepian commented on #534
https://github.com/socketstream/socketstream/commit/19510e350cb7a8e0cf70b749ee8c0b3c5def2d7f

[2015-05-05 09:17] luksch commented on #524
I definitively would love to get the full pub/sub/rpc stuff into a webworker. That would be awesome!

[2015-05-08 08:36] ilyador opened #538 "When initiating new app it is 0.3.12 and not 0.4.2. Why?"
When doing `socketstream new <name>` I get a 0.3.12 app and the SS in package.json is also 0.3.12. Why not 0.4.2?

[2015-05-08 11:18] paulbjensen commented on #538
This is a bug, we'll fix it shortly.

On 8 May 2015 at 09:36, Ilya Dorman <notifications@github.com> wrote:

--
Paul Jensen
07914 171 345

[2015-05-08 20:49] thepian commented on #538
Is it hardcoded? It should certainly be read from package.json

[2015-05-09 08:01] paulbjensen commented on #538
It is - https://github.com/socketstream/socketstream/blob/master/lib/cli/generate.js#L183

We can change that so it reads it from the package.json file.

[2015-05-10 14:29] ilyador commented on #538
Where can I find a 0.4 app example?

[2015-05-10 14:55] kulicuu commented on #538
https://github.com/socketstream/ss-examples/tree/master/react-and-coffeescript

I didn't use the CLI script -- don't typically.  Just built the relevant file structure.

[2015-05-10 20:33] thepian commented on #538
@ilyador 0.4 should work like 0.3 with only one or two edge cases difference

[2015-05-10 20:36] thepian commented on #524
me too :) I want to follow up to feedback to 0.4 that I saw on the forum first though. I want to be sure there were no bugs introduced in the rewrite.

I'm hoping @kulicuu will want to work on this, or someone else as I use SockJS myself

[2015-05-11 05:48] kulicuu commented on #524
I think I will want to work on this.  It depends on some things with my actual job, whether or not I'll  have the time to finish it -- but I plan to start doing stuff with Webworkers today.  I made fresh forks of engine.io and their client too, so I should be able to interact with a broad range of the relevant source during the project.  Ultimately I'd like to maybe get the engine.io server workin

[2015-05-11 13:49] arxpoetica opened #539 "Oldie bug goodie: get session from concat middleware (Koa in this case)"
[See this google group thread to see why this is an oldie.](https://groups.google.com/forum/?fromgroups=#!searchin/socketstream/Getting$20session$20variable$20when$20using$20express$20with$20SS/socketstream/GI-7PPTAWyA/_7f9okLAnm0J)

Only, we're talking Koa this time, which is a totally different beast. Koa uses generator functions (iterators), so appending Koa to the SS stack proved to be tricky,

[2015-05-12 07:16] hulmgulm opened #540 "0.4.2: Template engine is always default"
Hi,

I've defined my client to load the templates from the angular directory (tmpl: 'angular').
Then I've set the template engine like this:

ss.client.templateEngine.use('angular');

However I get my templates always formatted with the default formatter.

The same results for

ss.client.templateEngine.use('angular', '/templates/angular');
ss.client.templateEngine.use('angular', './templates/angul

[2015-05-12 13:45] hulmgulm opened #542 "0.4.2: Client Code Bundling Problems"
Hi,

after switching to 0.4.2 we have the following two issues with client code bundling:

1. our app now bundles after each startup as it is not able to find the previously packed assets although they are still there.

2. bundeled app cannot find entry.js
We've configured our app to load the client code from:
code: ['libs', 'app', 'copiedFromServer'],
In client/code/app we have an entry.js. Now t

[2015-05-12 14:14] hulmgulm opened #543 "Session sharing between Websockets and HTTP"
Hi,

we are sharing sessions between websocket and HTTP requests.

We see that in HTTP requests the connect.sid gets processed by cookie-parser and validated but during the websocket connection cookie-parser is not called.

The result is that the HTTP request sees a session ID like this:

UlTp92sLseIuSepPWpJr6RLPOip-SdBI

and the corresponding websocket session ID looks like this:

s%3AUlTp92sLseI

[2015-05-12 14:15] hulmgulm commented on #543
Small update:

we use connect-route for routing our HTTP requests. I've appended a middleware before the connect-route middleware to add session information to the request object.

To get the correct session, I do the following:

var sessionId = encodeURIComponent('s:'+signature.sign(req.session.id,socketstream.session.options.secret));
socketstream.session.find(sessionId, null, function(session)

[2015-05-13 12:58] arxpoetica commented on #539
@paulbjensen any clues where I should start hunting on this one?

[2015-05-13 22:32] paulbjensen commented on #539
Hi @arxpoetica, I'm afraid not, but the good news is that I'll be in a very good position to take a look next week; I finish with the client next week, so that leaves only the book plus getting ready to move to Amsterdam on my todo list, meaning plenty of time for other items.

[2015-05-13 22:36] paulbjensen commented on #543
Hi @hulmgulm, thanks for the detailed bug info. What version of SS are you using?

SocketStream is meant to allow both HTTP and WS to access the same cookie, so this sounds like a bug, possibly linked to the engine.io upgrade but that is more of a hunch than anything. I will take a look when I get the chance; I'm finishing work at my client this week, so I will have plenty of time to sink my teeth

[2015-05-14 01:38] arxpoetica commented on #539
Amsterdam! Off topic, but I'll be curious of your travels. (For another thread.)

[2015-05-14 07:36] kulicuu commented on #543
I'm looking into this now.  If anyone is available to chat on gitter about it I'm interested in getting more info about the issue.

[2015-05-15 02:27] arxpoetica commented on #543
@kulicuu you might want to also see issue #539 which I opened. Different scenario, but same “shared session” problem. There's additional background cited in that ticket.

I'll be watching both of these tickets closely.

[2015-05-15 03:56] kulicuu commented on #543
There are two closely related but distinct issues here.

One has to do with SocketStream's built-in http sessions handling and the extent of its sharing with the ws.

The other, as in the Koa thread above and my own reported issue [here at issue 475](https://github.com/socketstream/socketstream/issues/475), has to do with bringing in another library (Express/Connect) and merging its stack / sessio

[2015-05-15 13:05] arxpoetica commented on #543
Okay. Not sure I know the distinction. As for well-engineered, I agree. I was thinking this morning that the `ss` api ought to expose the session in a meaningful way.

[2015-05-17 07:15] kulicuu commented on #543
How would you like to see that API session exposure ? A sketch of the general idea ?

[2015-05-17 15:51] kulicuu opened #544 "superfluous argument in invocation"
[here](https://github.com/socketstream/socketstream/blob/master/lib/socketstream.js#L133) in the method invocation there is a second argument `responders` which is not in the method [definition](https://github.com/socketstream/socketstream/blob/master/lib/websocket/index.js#L14), and I looked back some months it looks like it hasn't been used in quite awhile if ever.
Just leaving this issue here a

[2015-05-17 16:01] kulicuu commented on #544
I should mention also, it's confusing when the argument name in the invocation is different from the argument name in the definition.  In this case it's `api` in the invocation and `ss` in the definition.  It should probably be `api` in the definition as well.

[2015-05-17 17:52] arxpoetica commented on #543
Thanks for looking at things. I've been looking at those very files too, logging and digging, etc. I feel like I'm closer to getting the mechanics. Something that I never knew before—by default we're using express-session (part of the connect universe) to handle sessions. That's not necessarily a bad thing, but it's a pretty big "oh" and should be documented. Good news is, this situation has made

[2015-05-18 08:46] kulicuu commented on #543
Yes, I'm learning about signed cookies.

@hulmgulm thanks for the code snippet above.  very good clues.

[2015-05-18 09:34] kulicuu commented on #543
Okay I got it (I think so anyway). Had to set the sessionId to signed cookie value in engine.io thing.  Going to lunch now.  Will clean it up and maybe PR this afternoon.

[2015-05-19 08:54] kulicuu commented on #543
I think this has good fix now with most recent merge, would like to hear results of verification.

[2015-05-19 11:51] arxpoetica commented on #543
Can you describe the changes you made? I've had a look over. Seems like your passing options and adding a secret in various places. What additionally is going on?

[2015-05-19 12:32] kulicuu commented on #543
Right cool, so the problem was something arcane to do with the way cookies are actually handled in this case.  They're signed for security by cookie-parser, but the session handling initialisation for the engine.io wasn't parsing them back to the id that would enable lookup of the session.  So, the initial solution (yesterday) simply used cookieParser's `signedCookie` function to parse that back i

[2015-05-19 12:37] #543 closed

[2015-05-19 13:50] arxpoetica commented on #543
Let me see if I'm understanding correctly. In other words, alternatively, the following is now possible:

[code]

Is this correct? You've provided an API basically to alter the session store?

[2015-05-19 14:19] arxpoetica commented on #542
@thepian any thoughts on this? ^

[2015-05-19 14:54] kulicuu commented on #543
Nothing so interesting.  I established a default value for secret in the session options.  You can alter it before creating/starting the server.  Before when I'd upgraded the engine.io and connect, I'd neglected to handle the cookie the same on both parts.  So I'm just cleaning up a bug I introduced.

[2015-05-19 15:22] arxpoetica commented on #543
I see, I see.

SO. I *think* the other issue I've opened is going to actually require a more robust session API. (I _think_.) I won't elaborate any further here, but I'll open that convo up elsewhere so we can bounce it back and forth.

In essence—it's possible (I might be wrong) that it's currently not possible to share sessions w/ some kinds of middleware in our current set up (for example, Koa)

[2015-05-20 11:34] kulicuu opened #547 "new dependency request : immutable"
https://github.com/facebook/immutable-js

On both client and server sides.

[2015-05-20 11:44] #544 closed

[2015-05-20 13:38] arxpoetica commented on #547
Interesting...

[2015-05-20 13:44] arxpoetica commented on #544
Looks good.

[2015-05-20 19:29] thepian commented on #524
@kulicuu very interesting as well

[2015-05-20 19:35] thepian commented on #547
To me that is squarely in the examples / how-to bundle with bower/jspm/browserify category. I will add a documentation flag, sound good ?

[2015-05-20 19:39] thepian commented on #542
My thoughts are 'crap' :(

I wasn't able to write a unit test for the recognising of existing bundled files, it should be a trivial change but clearly an annoying bug.

entry.js and index.js should both work as there are unit tests for them. Something must be missing.

Regarding 2 is the problem with the bundled version ?

[2015-05-21 07:23] kulicuu commented on #547
@thepian  I'm not sure what you mean about examples or bundling.

[2015-05-21 11:10] kulicuu commented on #547
[a bit more about this]
For a long time I'd been deferring learning functional programming properly.   Or declarative vs imperative.

I've been reading this blog a lot
[http://bartoszmilewski.com](http://bartoszmilewski.com]

I've also been immersed in a lot of reengineering projects, in particular really a long term thing with a C++ codebase.

I considered maybe SocketStream might benefit moving

[2015-05-21 11:33] paulbjensen commented on #547
Are there parts of SocketStream's code where this should be used? It would be good to see an example of how using Immutable.js would improve it.

[2015-05-21 11:40] kulicuu commented on #547
I don't think there would be any improvement implementation-wise.  Structure and organisation of the code might be improved substantially; better maintainability.  Just a hunch based on current research.
[from](http://bartoszmilewski.com/2015/05/14/using-monads-in-c-to-solve-constraints-2-the-state-monad/)

[2015-05-21 11:46] kulicuu commented on #547
also see:
[immutable-js#the-case-for-immutability](https://github.com/facebook/immutable-js#the-case-for-immutability)

I don't mean to distract from more prosaic near-term goals.  I've really been hit hard with some reengineering problems recently, and high level issues of how to develop complex software systems is very much on my mind these days.  Could say I've adopted a paradigm of continuous

[2015-05-21 11:48] kulicuu commented on #547
For now I'll branch on my fork and play around with it.  I will be looking for examples that I could share here, as you've indicated.

[2015-05-21 14:15] arxpoetica commented on #547
For the record, you can maintain immutable code *without* an added library: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/freeze

[2015-05-21 16:55] kulicuu commented on #547
_no stress_ :)

[2015-05-24 08:54] #538 closed

[2015-05-24 08:57] paulbjensen commented on #547
@kulicuu ok to close the issue?

[2015-05-24 08:58] paulbjensen commented on #547
Pressed wrong button.

[2015-05-24 09:00] paulbjensen opened #551 "Code Coverage is reporting different numbers on different runs"
Hi,

I've just noticed that the code coverage reported a drop when it shouldn't have reported any change in the code coverage. I'm going to investigate and see what's going on.

[2015-05-24 13:29] #547 closed

[2015-05-24 15:28] paulbjensen commented on #551
I've tracked this by running <code>npm run cover-test</code>, and these results vary:

![screen shot 2015-05-24 at 16 24 15](https://cloud.githubusercontent.com/assets/3840/7788415/abc91452-0231-11e5-854c-5a643e574d8c.png)

and this

![screen shot 2015-05-24 at 16 24 35](https://cloud.githubusercontent.com/assets/3840/7788416/b2d10a70-0231-11e5-9dd1-a91c223e9dad.png)

You can see that the lib/clie

[2015-05-25 15:23] kulicuu commented on #542
I'm getting problems also with the bundling.

[2015-05-25 16:08] kulicuu commented on #542
The `client.id` injected into /lib/client/http.js is bad.  I may have a fix tomorrow.

[2015-05-26 10:59] kulicuu commented on #542
Even more unpredictable behaviour from the bundler upon casual console based testing today.  All indications are I should step back from the console based testing as it will not be time efficient--long term better to focus on the unit testing and concomitant improving of the understanding of the higher level structure of the system -- in this case the client module.
It's been so long since I even

[2015-05-26 11:03] paulbjensen commented on #542
run <code>npm test</code> on the command line.

[2015-05-26 11:03] paulbjensen commented on #542
Once I get my chapter submitted and another book meeting done, this item is next on my todo list.

[2015-05-26 11:09] kulicuu commented on #542
ah thanks.

[2015-05-26 21:40] thepian commented on #540
The odd thing is that there is a test covering this, so there must be a discrepancy somewthere. Either,

1) I'm not testing fully enough
2) There is something else in your client defintion that differs

Could you supply a client definition that gets the wrong templates ?

[2015-05-26 21:48] thepian commented on #540
does it work if you use `{tmpl: '/angular'}` ?

[2015-05-28 17:18] thepian commented on #540
Will be fixed in 0.4.3 with other asset related issues

[2015-05-29 02:44] arxpoetica commented on #539
Okay. The good news. I dug pretty deep into the SocketStream code base. I now understand way more than I did before. ;)

The bad news, I think Koa may be pretty incompatible w/ SocketStream. That's because SocketStream makes pretty heavy assumptions about middleware. It operates using `connect()` (as the default strategy) (See https://github.com/socketstream/socketstream/blob/master/lib/http/defau

[2015-05-29 02:55] arxpoetica commented on #539
Holy...nix that...I think I just got it working!

Stand by...!...

[2015-05-29 03:06] arxpoetica opened #556 "Allow for different MIME types in dev mode."
See this thread: https://groups.google.com/forum/#!searchin/socketstream/mime/socketstream/PcKCoFcaSW0/pu_IrxHKsdYJ

It doesn't appear that we can serve different MIME types in development mode.

[2015-05-29 03:09] arxpoetica commented on #543
I think this actually fixed my issue. It started working after I updated. See: https://github.com/socketstream/socketstream/issues/539#issuecomment-106666039

[2015-05-29 03:14] kulicuu commented on #539
Yay !

[2015-05-30 17:22] arxpoetica commented on #539
All right, so in essence, here's how you concatenate middleware w/ Koa:

[code]

This middleware binds `req` and `res` onto the Koa `this` object. It's a bit of a hack, and inefficient (probably), because what's really happening isn't truly concatenated. It's more like two sets of middleware, made available to Koa. Notice also, this doesn't bind Koa back onto SocketStream. Essentially, Koa `this.r

[2015-05-30 17:22] #539 closed

[2015-05-30 17:24] kulicuu commented on #539
Nice info thankyou  ! and it's great to know we have Koa compatibility.

[2015-06-01 18:24] thepian commented on #542
Isn't that something mocha has documented?

[2015-06-01 18:43] thepian commented on #556
Wouldn't we want to move away from implementing a general purpose app server?

I would expect that it is trivial to prepend a middleware which will serve special mime types. In production you should have the static server handle this anyway I would think.

I'm not against the improvement, just think it is a distraction beyond documenting how to write your own static serving middleware for DEV time

[2015-06-01 21:51] thepian commented on #542
@hulmgulm If you have any chance can you test #553 it should solve your issue point two. I think the only left is reusing existing asset files.

[2015-06-02 05:37] kulicuu commented on #542
@thepian I know mocha stuff, but documenting it in a readme.md eg:
https://github.com/kulicuu/britvic/tree/master/mocha

Like it's a good idea to be able to run different suites at different levels checking out individual modules or sometimes working relations between them.

[2015-06-02 18:02] arxpoetica commented on #556
@thepian I don't disagree—however—currently it's not possible to hook into the middleware for the MIME type in dev mode—unless I'm missing something.

[2015-06-02 21:40] thepian commented on #542
Got ya

[2015-06-06 11:11] paulbjensen commented on #540
When trying this branch with Dashku's integration tests, Dashku is able to boot up, but we've now noticed that the ss.tmpl objects all begin with 'templates-' at the front, was this a deliberate change?

[2015-06-07 09:00] thepian commented on #540
no, I tried to make everything work as before. Are they still the same type?

[2015-06-07 09:02] thepian commented on #540
To my knowledge there is 100% test coverage on template output, so I must be missing something.

Could you have a look at the tests to see if they are as expected?

[2015-06-07 09:04] thepian commented on #542
Regarding point 1, I'm still trying to write a test that covers this fully.

[2015-06-07 09:51] paulbjensen commented on #540
Yep, I'll take a look. I'll also provide a few more details relating to the behaviour I saw in Dashku.

[2015-06-07 10:13] paulbjensen commented on #540
I think I know what is happening now, some explanation.

If you checkout a copy of Dashku from here: https://github.com/dashku/dashku, then after running <code>npm install</code>, you run <code>npm link</code> to get Dashku to load a local copy of the Socketstream repo rather than the version specified in package.json, like so:

[code]

After doing that, once you've got mongodb and redis running,

[2015-06-07 11:40] paulbjensen opened #559 "Remove console log statement on cookie secret in engine.io"
I see a line like "secret in engine.io feK4li1aek8koe7JeiC3shai7ahy7uduch5ahY7n" when running the latest SS. It seems like a console logging statement that has been left somewhere in the codebase. I will find it and strip it out.

[2015-06-07 12:02] thepian commented on #540
But are they rendered with the hogan template engine or with the default one?

[2015-06-07 12:07] thepian commented on #540
Ah. I know what it is ...

I changed the base path of everything to be `client` rather than the type specific directory so we can have more bundling freedom. The default ID is encoding the path not the file name, as it should.

I will make a special case for the templates directory.

[2015-06-07 13:03] thepian commented on #540
Your issue is now fixed in the pack-assets-fix branch, misleading name, but it's the remaining work for 0.4.3

[2015-06-07 13:18] thepian commented on #551
Is it because they sometimes fail during coverage tests?

[2015-06-07 17:45] kulicuu commented on #559
`etstream/lib $ grep -R "secret in engine.io"
websocket/transports/engineio/index.js:  c('secret in engine.io', secret);`

my bad.  I would need to pull latest and some associated tasks before PR for it.

[2015-06-07 17:45] paulbjensen commented on #540
Fantastic, thanks @thepian.

[2015-06-07 21:54] paulbjensen commented on #551
Not always - I've just been running <code>npm run cover-test</code> a couple of times, current coverage results reports 76.77%, but on one case where everything passed, it returned 76.83%. I'll isolate where the variance is occurring.

[2015-06-08 06:36] kulicuu commented on #559
fixed at
https://github.com/socketstream/socketstream/commit/495229c25a72de0bf30cfde1c2e2fe6991dd2f9b

[2015-06-08 06:36] #559 closed

[2015-06-08 12:29] #500 closed

[2015-06-09 17:02] thepian commented on #540
As a sidenote, if you had checked the unit tests it would be clear that the assertions are wrong as they include `templates-`.

[2015-06-09 17:04] thepian commented on #551
I'm attempting to extract a fixtures module with fixtures and utilities to reset and cleanup the project fixture before/after each test. Hopefully it will make test runs more stable.

[2015-06-14 13:43] thepian commented on #405
@paulbjensen It seems packing assets was a binary choice for all views rather than per client. Shouldn't that be a flag per client/bundler ?

[2015-06-14 21:21] thepian commented on #542
Point 1 will be fixed in 0.4.4, others are on master and will be in 0.4.3

[2015-06-14 21:21] #542 closed

[2015-06-14 21:22] #540 closed

[2015-06-14 22:02] thepian commented on #551
Could it have to do with live-reload kicking in and executing more code?

[2015-06-17 20:10] thepian commented on #543
@kulicuu Hmm, does this mean that you need to configure the session secret twice in the app ?

And shouldn't the API be like for the client

`ss.session.set({ .. });`

[2015-06-17 20:33] kulicuu commented on #543
I only had to set the secret once.  It's been a couple of weeks.  I'll have a look at it tomorrow.

I used `t.session.options.secret = "someNewSecret"`, like `ss.session.options.secret = "someNewSecret"` once in the main app file.
https://github.com/socketstream/ss-examples/tree/master/react-and-coffeescript
 I think it goes to both, which is why the sessions are now shared between http and engine

[2015-06-24 16:54] afrozl commented on #488
@kulicuu - does anything special have to be done to integrate socketstream with Express4?

I am attempting to integrate socketstream (Dashku) with Express (keystonejs) and running into issues

https://github.com/dashku/dashku/issues/64

[2015-06-25 02:30] EricCat opened #560 "multiple angularjs clients cannot work"
ref this [doc](http://socketstream.github.io/socketstream/docs/#/tutorials/defining_multiple_clients)
I defined two angular client app & app_test
[code]
[code]
[entry.js](https://gist.github.com/EricCat/516a9f7a5e53bd5911ae)

the ``app`` module works fine, but ``app_test`` can't work with error : ``angular is not defined``.
Any ideas for this issue?

[2015-06-25 08:53] thepian commented on #560
I assume you put angular in libs. Did you make a libs_test as a copy of libs? why?

The documentation on libs explains that it's a special case where the file is loaded raw, not as a module. Angular isn't there as you didn't do a require for it, and it will not be a global variable if you do.

[2015-07-06 15:01] thepian commented on #560
@EricCat Can you confirm this so I can close the issue?

[2015-07-14 13:00] havoc74 opened #561 "ss-console error with ss.log"
When using ss-console, an error is thrown at start up:

.../node_modules/ss-console/lib/server.js:26
    ss.log("i".green, "Console Server running on port " + port);

Simply changing "ss" to "console" fixes the issue. I know you're all still working on things, so take this as just a head's up. Great work by the way, thanks!

[2015-07-14 14:51] paulbjensen commented on #561
Thanks for spotting the issue and putting it on Github. Give me a couple of minutes and I'll fix it.

[2015-07-14 14:52] havoc74 commented on #561
Excellent, thank you!

[2015-07-14 15:34] paulbjensen commented on #561
Hi, I've pushed a fix up (https://github.com/socketstream/ss-console/pull/8), and published it with ss-console 0.1.4 on NPM. I'll close it but if you have any further issues please reopen and let me know.

[2015-07-14 15:34] #561 closed

[2015-07-14 15:36] havoc74 commented on #561
Thank you Paul :)

[2015-07-14 15:41] havoc74 commented on #561
I do verify that it is working now without error after an npm update ss-console, thanks again!

[2015-07-15 11:44] arxpoetica opened #562 "Update dependencies"
Looks like we're outdated on quite a few. Just making note to check them.

![image](https://cloud.githubusercontent.com/assets/111424/8697641/b89587c2-2ac4-11e5-98a7-4121eeee5c7b.png)

This ticket came about because I was having problems with `chokidar`, which I had to update to the latest version in my local copy of socketstream:

[code]

Quite a few dependencies are out of date. We should do an

[2015-07-15 20:50] paulbjensen commented on #562
Yes, definitely, but also worth checking them with production apps as well before merging into master and publishing on npm.

[2015-07-16 14:18] arxpoetica commented on #562
Good idea.

[2015-07-18 15:39] thepian opened #563 "Make builder plugins optional in production"
I think it would be great to have less dependencies in our deployments. We could have a way to load dev plugins like require, but effectively optional. That way the modules below can be in devDependencies cutting down on deployment size.

    ss-jade
    ss-less
    ss-sass
    ss-hogan
    ss-some-fancy-templater
    ss-angular

[2015-07-18 18:05] thepian commented on #560
No feedback on this. Working as documented it seems.

[2015-07-18 18:05] #560 closed

[2015-07-18 20:14] hulmgulm opened #564 "0.4.3: Asset packing does not work."
I've created a new app with SS 0.4.3 with the command "node socketstream new myapp".

When running this app with "SS_ENV=production", it is not working anymore. I get the following error in my browsers console:

Error: Cannot find module '/code/app/entry' within '/'

When I check the generated JS file in the assets directory, I see a

require.define("code/app/entry" ....

For me it looks like the

[2015-07-19 04:48] hulmgulm opened #565 "Windows template * not supported, rework implementation"
I've created a new app with SS 0.4.3 with the command "node socketstream new myapp".

During start of this app, I see the following error:
! Error: C:\test\client\templates\* directory not found

Inside the templates directory there is a file called chat\message.html

The browser reports the following error:
TypeError: ss.tmpl['chat-message'] is undefined

It looks like the template handling is no

[2015-07-19 14:30] paulbjensen commented on #565
I've been able to replicate the error on Windows. Will investigate and fix.

[2015-07-19 15:29] thepian commented on #564
We have unit tests covering this. My guess is that the new app skeleton needs to be updated somehow.

[2015-07-19 15:34] paulbjensen commented on #564
It's to do with the use of * to select all directories on Windows. Windows does not like * for some reason.

[2015-07-19 15:34] paulbjensen commented on #564
Sorry, wrong issue.

[2015-07-20 12:58] arxpoetica opened #566 "RPC Promises"
I'm noticing that, more often than not, my RPCs depend on each other, and as such, require some pretty gross callback hell.

I'm wondering how easy it would be to alleviate this by allowing *both* functional callback returns and promises. Consider the following:

[code]

This is based on real code (for the record). Pretty gross. The nesting is needed since each layer depends on the previous callba

[2015-07-20 13:22] paulbjensen commented on #566
A potential fix that could be done now would be to use the async library's 'series' function to chain a series of functions together without ending up in callback hell: https://github.com/caolan/async

[2015-07-20 13:44] arxpoetica commented on #566
This is great. Just to be clear, you're suggesting I use this now until or if we bake in actually async/promise functionality?

[2015-07-20 13:45] arxpoetica commented on #563
Agreed.

[2015-07-20 13:50] paulbjensen commented on #566
You can use it today with your app and reduce the callback hell. I think also that adding support for promises is worth discussing.

[2015-07-24 06:35] paulbjensen commented on #565
The way I've managed to fix this is by changing the app.js file on line 11 to this:

    tmp: 'chat'

Using '*' as a folder wildcard on Windows does not work. It we swap out '*' with the name of the 1st and only folder (chat), then the app works.

Changing this in the app generator would fix generating new apps with the demo app code, but not apps with a minimal install.

I'll keep searching for a

[2015-07-24 19:27] thepian commented on #566
I think Promises are a bad API, async is much more sane.

However Promises are part of ES6, so we should treat them as a first class citizen. For that reason, I think it is a good suggestion. Promises are introduced natively in node 0.12

[2015-07-24 19:29] thepian commented on #564
@hulmgulm can you run the test suite on Windows ?
I'm very disinclined to set up a dev environment on windows, so I would have to rely on others telling me what fails. We have mostly removed any assumptions about path separators, but it could be that we have some issue with assuming a Unix OS somewhere.

[2015-07-24 19:30] thepian commented on #565
does the globe package work on Windows ? It is usually preferable to rolling your own

[2015-07-25 00:38] arxpoetica commented on #566
I'm open to other suggestions. Basically—anything to avoid callback hell makes life happy. ;‚

[2015-08-18 14:14] thepian opened #567 "Answer common how-to on Stack Overflow"
Like

http://stackoverflow.com/questions/16445963/how-to-test-an-angularjs-socketstream-node-js-app-using-karma

- [ ] best search terms
- [ ] correlated topic
- [ ] using nodemon to reload when config/core changes
- [ ] ask cloud providers what people are looking for
- [ ] setting up ha-proxy with SocketStream (and an article) http://socketo.me/docs/deploy

[2015-08-18 16:47] thepian commented on #405
This will be an experimental feature in 0.5 using Gulp underpinnings. You can do it with `ss.start('pack-all')`.

[2015-08-19 08:24] thepian opened #568 "Switch default app.js to use connect"
Our cannonical example is based on http. If you have any complexity in your app on the serverside that isn't a very good logical structure, you will need some middleware, and Socketstream should not be the one managing this.

We should deprecate append/prepend of middleware and leave it up to the web framework of choice.

Or perhaps Express should be our cannonical example, it's got a slight edge

[2015-08-19 08:39] thepian commented on #568
I think we want to move away from being a middleware framework as fast as possible. connect is 1000x more popular, it is the de-facto approach and it isn't anything we can do better.

By 0.5 I'd like to have cut out standard middlewares as dependencies.

[2015-08-19 15:32] arxpoetica commented on #568
SocketStream uses Connect under the surface in various places. It might make sense to be more explicit about that relationship, but I'm also not sure I understand what your proposing.

[2015-08-20 06:35] paulbjensen commented on #568
@arxpoetica @thepian SocketStream basically uses connect middleware, and provides append/prepend as ways to insert other connect-middleware before the initial stack. That is how Dashku is able to append a REST API to the dashboard single page app.

On the old version of the website, there was an example in the tour that featured a way to load SocketStream and Express together. I can try and dig it

[2015-08-20 13:44] arxpoetica commented on #568
Interesting...

[2015-08-20 15:11] thepian commented on #568
I'm proposing to reduce what SocketStream does to focus on the streaming. The prepend and append only affect middleware configuration which is something 99% of users will do with a mainstream framework. That whole router code is quite smelly and it seems we have a couple of issues in view matching as a results.

The benefit of mainstream frameworks is the vastly bigger volume of people knowing how

[2015-08-20 15:51] thepian commented on #568
Perhaps I should just provide an example and support for a way to run a SocketStream App without ss.http.middleware

[2015-08-20 16:25] kulicuu commented on #568
Why not just make the core router use Connect ?

[2015-08-20 21:56] thepian commented on #568
That was my thought of thinking. It seems the argument is performance of serving views which puzzles me a bit. I would expect the difference between the alternatives to be on the order of 1ms

[2015-08-21 22:30] thepian commented on #568
I'm looking at the various parts of ss.http

I see require connect in there, but somehow it's not used for making the server. As a user of SS, I find that confusing.

[2015-08-22 08:30] paulbjensen commented on #568
Hi,

The router code is smelly and does cause issues, especially when people want to return 404s for routes that are not matched, hence I think it needs a fresh look.

The reason why SocketStream was built on connect as opposed to Express was because it's focus at the time was on supporting Single Page Apps, and Express bundled a bunch of middleware by default that wasn't necessary to that goal.

[2015-08-22 08:59] thepian commented on #568
I think I have found a better approach than my original suggestion, so I will close the issue

[2015-08-22 08:59] #568 closed

[2015-08-23 15:24] thepian commented on #551
I think it was. When I run it with the pack-improvements branch the coverage numbers remain the same

[2015-08-23 15:54] thepian opened #570 "General Support for Request Responder Testing"
This was removed in 0.4.4

  // If no HTTP server is passed return an API to allow for server-side testing
  // Note this feature is currently considered 'experimental' and the implementation will
  // be changed in SocketStream 0.4 to ensure any type of Request Responder can be tested
  // } else {
  //   var sessionID = session.create();

  //   // jshint loopfunc:true
  //   for (var id in serv

[2015-08-23 19:53] thepian commented on #551
fixed in master

[2015-08-23 19:53] #551 closed

[2015-08-26 21:37] paulbjensen opened #572 "Bug: new generated app not loading clients"
I tried to generate a new SS app with <code>socketstream new</code>, installed dependencies, npm linked to the version on master, and came across this issue:

<img width="986" alt="screen shot 2015-08-26 at 23 35 12" src="https://cloud.githubusercontent.com/assets/3840/9506934/54e7c19c-4c4b-11e5-8b09-15839ff48e43.png">

It seems as though the client is not being loaded, even though it should be ba

[2015-08-27 07:32] paulbjensen commented on #572
I've dug a little into this so far (FYI I'm running on Mac OS X Mavericks and io.js 3.1.0)

The lib/client/index.js file is calling lib/client/http.js with a <code>clients</code> object, which stores the clients. At the time of initialisation, the clients object is empty.

When we call the ss.client.define function in the app, the client is added to the <code>clients</code> object in lib/client/in

[2015-08-27 07:43] paulbjensen opened #573 "Bug: quick-test npm task fails"
See stacktrace:

  1) pack "after each" hook:
     Error: Command failed: /bin/sh -c cd /Users/pauljensen/Work/socketstream/socketstream/test/fixtures && git checkout project/client/static/assets
fatal: Not a git repository: '.git'

      at ChildProcess.exithandler (child_process.js:197:12)
      at emitTwo (events.js:87:13)
      at ChildProcess.emit (events.js:172:7)
      at maybeClose (intern

[2015-08-27 10:21] paulbjensen commented on #572
This seems to be happening even on 0.4.3 (not just master branch).

[2015-08-29 07:28] paulbjensen commented on #572
Some further testing, it looks like an issue with iojs and not Node.js 0.12. Going to do some more testing to verify.

[2015-08-29 21:54] thepian commented on #572
Yes, I've noticed. Had trouble on one machine. I would like to fix it, but also wonder about the userbase for iojs

[2015-08-31 01:14] arxpoetica opened #575 "Bundling client files outside of the client folder"
Is it possible to bundle files from outside the client folder? Scenario. Want to include optional/additional files based on an installed template. (Think about how WordPress works if you're wondering what I mean.)

Example:

[code]

Obviously, my example isn't working, it's only meant to illustrate. Can anyone think of a working way to do something *like* this? In essence, it would be awesome to j

[2015-08-31 08:42] ChristianEnchelmaier commented on #565
Same issue here, will there be a fix shortly or is there any workaround?

` ! Error: C:\prj\Dashku\client\templates\* directory not found`

[2015-08-31 09:16] paulbjensen commented on #565
Hi Christian,

My workaround for the SS chat app was to simply pass the folder/file name <code>chat</code> in, rather than use the <code>*</code> character to select everything.

For Dashku, try changing the <code>tmpl:</code> on line 37 to this:

    tmpl: ['account','app','dashboard','dashboardView','docs','homepage','widget','alert.jade','changePasswordModal.jade','inputFieldError.jade','loginM

[2015-08-31 09:33] ChristianEnchelmaier commented on #565
Hi Paul,

thanks for the quick reply. The fix worked directly - i've sent u a pull request.

[2015-08-31 09:38] paulbjensen commented on #565
Thanks, merged it in.

[2015-08-31 18:52] thepian commented on #575
Yes that is already supported in 0.4

You can use relative paths in code

  ss.client.define('main', {
    view: 'app.html',
    css:  ['libs/reset.css', 'app.css'],
    code: ['libs/jquery.min.js', '../node_modules/somthing/code', 'app'],
    tmpl: '*'
  });

Relative paths are based on the client directory. I wish we had it documented.

[2015-08-31 18:53] thepian commented on #565
Perhaps we should try using multimatch module.

[2015-08-31 21:32] arxpoetica commented on #575
Excellent, I'll give it a try.

[2015-09-01 02:34] arxpoetica commented on #575
Hmm...not working. With the following dependency:

```code: [..., '../node_modules/Template/code'```

I get the following error:

```! Error: /Users/[user]/Documents/workspace/[project]/client/node_modules/Template/code directory not found```

Seeing that `/client/` directory still in that path...so if I try adding an extra `../` I get the following:

[code]

Clues? I have a local (up to date) cop

[2015-09-01 07:28] paulbjensen commented on #565
@thepian Yes, that could work. I have a laptop with Windows on it so I can test it there.

[2015-09-01 19:19] thepian commented on #575
I have only tried it with using alternate directories within the client directory, but in principle it should work.
It is still an open issue to support npm/bower modules installed anywhere in your project.

client/bundler/default.test.js:120 tests relative paths within the client dir.

ss.bundler.sourcePaths(paths) determines where source roots are located. If something doesn't work this is the f

[2015-09-02 00:21] arxpoetica commented on #575
Okay. I'll look into it and possibly do a PR. :snowman:

[2015-09-02 12:32] arxpoetica commented on #575
So I'm still following the papertrail, but I was surprised to figure out that the path for finding assets is parsed from `request.url` at `socketstream/lib/client/serve/dev.js:42-46` (as part of `serveJS`). In other words, it's getting parsed off the query from this string: `/assets/main/VJeVNUJp.js?_=[MyTemplate]/code/template.js`

What's the reason for doing this? Seems a bit backward.

[2015-09-03 15:53] thepian commented on #575
not sure what the question is. Are you referring to the URL scheme during development?

1) It mimics the location in production to keep them similar and make CSS work the same
2) It contains the client name, ID and type to use the correct bundler
3) It contains the path relative to the client directory to support files outside the usual locations
4) It contains a query to bust the cache during dev

[2015-09-04 21:09] arxpoetica commented on #575
So if no. 3 is true, then it appears to be broken...but I'm still digging into that... ;)

Not sure what you mean in no. 5. Are you saying that the query parsing is done in another way, but should really be handled by the bundler?

[2015-09-06 00:35] arxpoetica commented on #575
Okay, a little further down the rabbit hole. It doesn't look like the final source of the problem, but [line 631 in the bundler index file](https://github.com/socketstream/socketstream/blob/5af594a3f80af55a30fb15be9a72a1c80e15ab41/lib/client/bundler/index.js#L631) is trying to do a `path.join` with an incomplete path part. Specifically it looks like the `rel` variable is not a relative path.

So l

[2015-09-06 17:31] thepian commented on #575
3) It does work for file within the client directory, so you can load a JS file from outside client/code, but I don't expect it to work with `../elsewhere` paths; Although it should. (still an open issue)

The idea was to support any asset path to be passed in the URL using the _ parameter. It would be a path relative to the client directory. The file in question would also have that as the logica

[2015-09-09 01:33] arxpoetica opened #576 "Get SocketStream working w/ Node v 4.0.0"
Now that io.js and node.js are streamlined, I tried running SocketStream against v4. `segmentation fault`! Ope! This happened when I created one single file and *only* did the following:

[code]

(Nothing else.)

[2015-09-09 09:21] paulbjensen commented on #576
Hi Robert, segfaults tend to occur if you install an npm module with compiled dependencies using one version of Node, then try to run it after switching to another version of Node.

I'd like to suggest trying to re-install SocketStream on Node v4.0.0, and then seeing if you still get that error.

[2015-09-09 09:27] paulbjensen commented on #576
Hi Robert,

I can confirm that Socketstream works on v4.0.0.

I did the following:

[code]

Please confirm it works for yours well.

[2015-09-09 10:58] arxpoetica commented on #576
Hmm. Maybe I've done something bad on my installation w/ `nvm`. I've done the first two commands above. After running the third, however (`socketstream new another-app`), I get:

[code]

I'll keep digging and see what's going on.

[2015-09-09 11:00] paulbjensen commented on #576
Interesting, what's your OS and version? (mine was Mac OS X Yosemite 10.10.5)

[2015-09-09 11:01] arxpoetica commented on #576
Same, but 10.10.4.

[2015-09-09 11:02] arxpoetica commented on #576
For what it's worth, when I do `nvm use 0.12.7`, it starts working again. I'm thinking this must (somehow) be a system thing, and not have anything to do w/ SocketStream. But where to begin... :wink:

[2015-09-09 11:15] paulbjensen commented on #576
I'd suggest checking where the socketstream binary points to with <code>which socketstream</code>

[2015-09-09 11:18] arxpoetica commented on #576
Okay. So I got my app running. Turned out I needed to update my npm dependencies, oops: http://stackoverflow.com/a/32289269/209803 Makes perfect sense.

However, still not clear on why a global build of socketstream would segfault. Here's the `which`:

[code]

I'll keep working on that, and close the issue when I figure it out. I'm sure it's similar to the problem I had in my actual app.

[2015-09-09 11:20] arxpoetica commented on #576
Oh weird. Now my global socketstream is working. Strange. Maybe updating my local build tricked the system. I'm not sure what I did, but we're good. Closing.

[2015-09-09 11:20] #576 closed

[2015-09-16 22:16] thepian commented on #573
For me it passes, but when run in a commit hook in Tower it fails due to colors being output. Some test needs a logHook to catch the build dump

[2015-09-16 22:17] #562 closed

[2015-09-16 22:18] thepian commented on #572
iojs passing for latests master, can you check if the issue is resolved?

[2015-09-16 22:19] thepian commented on #405
now in master

[2015-09-16 22:19] #405 closed

[2015-09-17 14:31] paulbjensen commented on #572
Will do in 2 hours' time (at work atm).

[2015-09-18 09:20] thepian commented on #575
I've starting fixing this. The first part of pulling in stuff outside the client directory is an easy fix already on the feature branch. Second part is making require work for anything in the project directory. This means that the path in the bundle should be /client/code/abc.js not /code/abc.js

[2015-09-18 23:32] thepian commented on #573
ah you mean if you run it as a download, not a git repo?

[2015-09-19 13:40] arxpoetica commented on #575
If I'm understanding you correctly, that would be a breaking change? I'm okay with that, but it should be documented.

[2015-09-19 19:01] thepian commented on #575
nope, everything working as before. It is all internal to wrapCode and what path modules are registered under which is unspecified. Otherwise it would be for 0.5

[2015-09-19 19:08] thepian opened #577 "API changes for 0.5"
Apply changes to API

Plugins are referenced by configuration and loaded as `ss.plugins[name]`. Custom plugins can be set by setting an object representing the module exports.

Minor changes

[ ] `options.dirs` should be relative paths. Anyone changing them should use project relative format.
[ ] bundlers are specified with `bundler: 'name'` in the client definition, the name being a package name.

[2015-09-19 22:50] arxpoetica commented on #575
:+1:

[2015-09-20 04:52] arxpoetica commented on #332
I've been testing via Mocha and can't get `.rpc` to load either (it's just `undefined`).

I'm not 100% sure what you did here from your description. What do you mean by "use a plugin architecture"? How did you get the `.rpc` to show up?

[2015-09-20 07:17] paulbjensen commented on #332
I think you have to call it via <code>ss.api.rpc</code>

[2015-09-20 09:09] thepian commented on #575
Lot's of little internal changes though. Started with 40 unit tests to fix, down to 6

[2015-09-20 11:57] thepian commented on #575
The feature branch should now allow any client assets to be referenced inside the project using relative paths with the client folder as the starting point

[2015-09-20 11:58] arxpoetica commented on #575
Yow. It makes sense though. When I tried to debug a few weeks ago, like I said, the path variable was all over the place. It made me wonder if there was a cleaner way of keeping track of and using paths.

[2015-09-20 12:02] thepian commented on #575
We should change the new app template to fetch jquery from node_modules and have jquery be an npm dependency.

[2015-09-20 12:03] thepian commented on #575
Perhaps I should change the templateEngine.use path param to be relative to the client. Right now it's relative to the project.

[2015-09-20 12:33] arxpoetica commented on #332
so...`require('socketstream').api` is defined, but not `require('socketstream').api.rpc`...?

What were you referring to above about plugin architecture?

[2015-09-20 16:28] thepian commented on #575
in master

[2015-09-20 16:28] #575 closed

[2015-09-20 22:03] thepian commented on #573
removed the git checkout

[2015-09-20 22:03] #573 closed

[2015-09-21 03:14] arxpoetica commented on #332
Just a little more info, I'm looking at what you did here: https://github.com/dashku/dashku/blob/master/test/server/rpc/widgetTemplate.test.js#L40

This test is passing?

[2015-09-21 12:47] thepian commented on #565
There is now a feature branch using the glob module, if anyone can test on Windows for possible fix that would be great.

[2015-09-25 14:18] thepian commented on #572
@paulbjensen any news?

[2015-09-25 14:50] paulbjensen commented on #572
Sorry, totally lost track of this. Gimme 10 mins.

[2015-09-26 07:17] paulbjensen commented on #572
Latest version of master works, thanks. Will close.

I realised that if the version of socketstream points to 0.4.3 but the repo is linked to master, it will cause errors, and if the generator points to master but app loads 0.4.3, then another error occurs.

Basically, always check that the app generator and the module loaded by the app are the same.

[2015-09-26 07:17] #572 closed

[2015-09-27 13:31] thepian commented on #564
fixed on master, new project now works on Windows

[2015-09-27 13:31] #564 closed

[2015-09-27 13:31] #565 closed

[2015-09-27 17:20] thepian commented on #473
The task support is now in 0.4.4, I run via gulpfile.js in development. It works nicely

[2015-09-28 18:43] thepian commented on #567
Perhaps the best is to start discussions about how to be the most productive with the async-ness of client-server development.

[2015-10-01 12:46] thepian commented on #479
Won't fix as ES6 is the future. Pull requests welcome though

[2015-10-01 12:46] #479 closed

[2015-10-01 12:51] thepian commented on #507
Only thing outstanding is nodemon. I don't have time to document, but anybody is welcome to do it.

[2015-10-01 12:51] #507 closed

[2015-10-01 13:00] thepian commented on #556
We now have an Express 4 example.

[2015-10-01 13:00] #556 closed

[2015-10-01 14:00] arxpoetica commented on #556
:+1:

[2015-10-03 17:13] #533 closed

[2015-10-06 21:33] thepian opened #584 "next: Production serving of correct asset URLs"
next branch only.

In production the view serves dev-time links. Must change as before

- [ ] production links
- [ ] test for production view having correct links
- [ ] alternative router impl that co-exists better

[2015-10-07 10:04] thepian opened #585 "Update socketstream websites"
- [ ] Revise the statement of purpose
- [ ] Make sure that the demo can take a beating. Consider Cloudflare
- [ ] Example for Cloudflare support
- [ ] Production ulimit fixup build target
- [ ] Builtin soak/feature testing in demo app

New purpose

- ES7 direction (Babel transpile)
- Native SocketStream by default
- Token based alternative to Cookie based
- Mobile first

[2015-10-07 19:46] thepian opened #586 "Common options set API"
[code]

[2015-10-08 09:28] thepian opened #587 "Review approach using 10 mistakes"
https://www.airpair.com/node.js/posts/top-10-mistakes-node-developers-make

debug module
bunyan module

[2015-10-09 08:52] cuckoopt opened #588 "RPC not loading on tests"
Hi,

With the latest version of sockectstream, the rpc's are not loading on my app, was there any major change in the way these are loaded?
On the tests header i have the usual `require("socketstream").start()` which is at `test/server/rpcs.test.js`... For the frontend the rpc's load perfectly, is there anything that I need to do differently on this version?
This is my current folder structure:
[c

[2015-10-10 14:52] thepian commented on #588
Hi there, are you talking about 0.5.0 ? It is an unstable release for testing only. Thanks for reporting.

Indeed much is changing. calling start without an http server is now supported to facilitate gulp integration and running pack-all as a task. https://github.com/socketstream/ss-examples/blob/master/express-4-and-js/app.js

It means that transporter tests will have to be supported in a differe

[2015-10-10 15:14] thepian commented on #588
You might be able to make your test work by calling ss.load() instead of ss.start(), hmm probably not will have to look into this

[2015-10-11 09:54] thepian commented on #516
http://samwize.com/2014/01/31/the-best-documentation-generator-for-node/

[2015-10-11 11:55] thepian commented on #567
Contrast and review compared to Meteor and see where we can make Socketstream a better production/long-term choice and leave others to offer prototyping framework value.

https://www.quora.com/What-are-some-downsides-of-MeteorJS

[2015-10-11 14:29] thepian commented on #588
@cuckoopt Could you try out your tests with this: https://github.com/socketstream/socketstream/pull/590 ?

[2015-10-11 16:02] thepian commented on #586
ss.set('server.port',3000);
ss.set('server.port.production',9999);
ss.set('server.port.development',3000);

[2015-10-12 08:58] cuckoopt commented on #588
I was talking about the 0.4.4, I tried to run the tests with that line both with 0.4.4 and 0.5.0 and in the 2 of them I get
[code]

[2015-10-12 09:02] cuckoopt commented on #588
@thepian Sorry, I didn't test with that branch, I tested with it (without the `done` callback, outside of the describes) and it seems to be working fine :+1:

btw (offtopic) the newer versions will bring the updated deps? it's a bummer to not be using node 4 to installing this... :stuck_out_tongue:

[2015-10-12 17:07] arxpoetica opened #591 "Check for inlining of functions."
https://medium.com/@c2c/nodejs-a-quick-optimization-advice-7353b820c92e

[2015-10-12 18:56] thepian commented on #588
Sorry, I'm unable to keep up with all software details. Node 4 completely missed my radar. We can add Node 4 to the platforms tested. Does that bring Promises and other ES 2015 goodies?

With 0.5.0 we are moving away from bundling big dependencies in SocketStream. This means your project is checked for stuff like Jade and Engine.io and you can use the version you are happy with as-long-as it remai

[2015-10-12 19:01] thepian commented on #591
That is a cool comment. It does seem like a good linting target for projects. I can't think of any of our code that is done extensively though.

[2015-10-12 22:18] #570 closed

[2015-10-16 20:09] thepian commented on #176
http://eric.themoritzfamily.com/websocket-demo-results-v2.html

https://github.com/ericmoritz/wsdemo/blob/results-v1/results.md

[2015-10-17 07:38] #588 closed

[2015-10-17 09:05] thepian commented on #488
@afrozl ss-examples has one for Express4, it is aimed at SocketStream 0.5 which is not stable yet.

[2015-10-18 01:36] arxpoetica commented on #588
FYI, Node 4 is the merger of io.js back into the main Node branch (io is no longer a thing). And yes, it includes lots of new goodies as well as more frequent updates (on Semver). We should *definitely* add Node 4 to the test suite. Actually, it's going to be a more rapid moving target. We're already on `4.2.1`.

[2015-10-18 16:22] thepian commented on #236
https://github.com/rajaraodv/redispubsub

[2015-10-18 16:52] #586 closed

[2015-10-18 16:58] #567 closed

[2015-10-18 21:45] thepian commented on #455
bower listing: https://www.npmjs.com/package/main-bower-files

sourcePaths gets confused when root is below node_modules base.

Perhaps there should be a magic directory called `modules/` that is meant to mean location in bower or npm.

Magic paths in project

* client - the actual client path
* server - the actual server path
* modules - look up modules in npm or bower

[2015-10-19 13:35] arxpoetica commented on #236
@thepian ^ just bookmarking?

[2015-10-22 19:42] thepian commented on #236
Something to compare with that has a very good explanation could be the base for one of the example apps

[2015-10-24 16:13] thepian commented on #566
bookmark / stuff to consider

https://www.discovermeteor.com/patterns/5828399

[2015-10-24 16:57] thepian commented on #587
Doc:

DEBUG=express-session,socketstream,require npm start

[2015-10-25 12:35] thepian opened #593 "develop: Integrate all changes from ss-sockjs and remove repo"
The SockJS support will be fully embedded in SocketStream

- [ ] Apply all fixes changes from repo
- [ ] Add tests
- [ ] Add config docs

[2015-10-26 13:06] StuartHickey opened #594 "Token Authentication with Socketstream"
Hi,

I've been working on getting a simple app up and running using Socketstream and Koa. It's working fairly well so far and I have the authentication path working but I want to add in JWT support. At the moment I return a token after successful login and save that to local storage. I have a number of components where I do RPC calls back to the server to get same data and i want to include the to

[2015-10-26 19:45] thepian commented on #594
Amen. I need that as well. There are quite a number of things to do to make it feasible though.

It really is what I am working towards. In 0.5 the cookie session management is factored out into. It is however currently unstable so it doesn't work in production. You can however use it as a point for getting things to work. When #508 is done the next step will be to implement a socketstream-jwt-ses

[2015-10-27 17:32] StuartHickey commented on #594
Ok thanks ... good to know it's a high priority for you too. Congrats on the new role by the way!!

[2015-10-28 08:07] #593 closed

[2015-10-29 22:20] thepian opened #595 "Base SocketStream client on SystemJS"
Time to base all solutions on modern browser JavaScript with full support for dynamic code import.

[2015-10-31 00:02] thepian commented on #508
@kulicuu If you have time I would love to figure out why the ss-example for connect and engine.io doesn't work ATM. Did I break sessions or something else?

[2015-11-01 01:25] thepian opened #596 "Security hardening"
Cross site

https://www.christian-schneider.net/CrossSiteWebSocketHijacking.html

[2015-11-01 13:55] thepian opened #597 "develop: engine.io client looses this"
Line 909:37 blows up trying to call sendPacket

There are very few client-side changes. Perhaps this has popped up before. Varying the client version dependency doesn't seem to fix the issue.

The issue can be easily triggered by installing ss-examples/connect-and-engineio and npm link socket stream to the develop branch.

    TypeError: this.sendPacket is not a function. (In 'this.sendPacket('mes

[2015-11-01 13:58] thepian commented on #597
@paulbjensen Perhaps you have an idea what causes this. SockJS doesn't fail

[2015-11-01 15:41] thepian commented on #597
It was a bind issue, fixed.

[2015-11-01 15:41] #597 closed

[2015-11-01 19:17] thepian commented on #595
The client will be built to be loaded with SystemJS EventEmitter2 will take place of EventEmitter

engineio is based on EventEmitter, SockJS expects the client to be browserified

[2015-11-04 20:01] thepian commented on #561
@havoc74 Since you are a user of ss-console I'd like your opinion on how to best evolve the console for SocketStream 0.5

Do you have special wishes or any low hanging fruits that could be added/changed ?

[2015-11-06 03:10] gbraad opened #599 "Relative path for serving assets and code"
At the moment I am using a test application to see if streamsocket is a fit for our purpose. We are deploying the application behind a small PaaS and all requests are being proxied as path-based. Tjis is currently by-design. This means that applications would have to be served using a proxy-rewriting... or be served using a relative path option. I was wondering if SS provides a relative path optio

[2015-11-08 22:10] thepian commented on #599
The HTTP side is intended to be essentially static in production. You generate bundles for HTML,CSS and JS. On demand JS is currently only supported on the server, but will be static as well in 0.6 or 0.8

So in production the only thing to proxy is the websocket connection and fallback support from SockJS/Engine.io

What I'm essentially saying is that there is nothing in SocketStream itself that

[2015-11-08 22:14] thepian commented on #599
Hmm, did you just mean the `/assets/` URL? Can't you just monkey patch the bundler or make a new one? the function to patch is htmlTags

[2015-11-12 18:39] thepian commented on #599
@gbraad Is the issue solved for you?

[2015-11-12 18:41] thepian commented on #576
I run SocketStream 0.5 on the latest NodeJS, all seems fine. I would actually consider making SocketStream 1.0 require NodeJS 4

[2015-11-12 22:49] arxpoetica commented on #576
agree. will solve a lot of problems not supporting backward compatibility.

[2015-11-13 03:59] jerrygzy opened #600 "Transport for "undefined" must be a function"
Transport for "undefined" must be a function(ss, emitter, config) default: undefined
! task failed [TypeError: Cannot read property 'listen' of undefined]

I am new to SS, what is the problem here?

here is my environment
 node v4.2.2
 npm  v2.14.7

{
  "name": "uSee",
  "description": "An awesome real time application",
  "version": "0.0.1",
  "author": "Me <me@mydomain.com>",
  "private": true,

[2015-11-13 22:38] thepian commented on #600
Did you create the app with `socket stream new uSee` or did you follow the documentation?

Does you app.js look like: https://github.com/socketstream/ss-examples/blob/master/legacy-app/app.js ?

0.5.1 is an unstable release so it may have issues will ship 0.5.2 in the coming week

[2015-11-14 19:44] thepian commented on #599
btw why would proxy rewrite be an issue, it's pretty standard

[2015-11-14 22:55] thepian commented on #473
Do Gulp error handling https://github.com/gulpjs/gulp/issues/216

[2015-11-14 23:25] thepian commented on #488
@arxpoetica Have you looked at some of the changes? Any thoughts?

[2015-11-15 08:59] gbraad commented on #599
I haven't been able to look into this further in recent time. The proxy rewrite would not be a problem, but having the flexibility from within socketstream to define the paths would be appreciated, although not essential. It would be considered advanced functionality. Note: the proxy-ing in question is really lightweight and does not involve nginx as it is done on a simple ARM-based device using o

[2015-11-15 16:59] thepian commented on #599
As mentioned above you can already do that with the CDN configuration for assets. It isn't clear to me what you are trying to achieve though as all HTTP traffic in production should be static assets or SockJS/Engineio traffic.

If there is no clear requirement or issue I will have to close this

[2015-11-15 18:31] thepian commented on #596
Also consider engine IO config

https://www.npmjs.com/package/engine.io-options-from-url

[2015-11-15 19:40] thepian opened #601 "Separate Streams per View"
Each view is served at a URL which can be used to apply permissions. The streaming will be tied to the URL of the view.

- [ ] WS streaming for each view
- [ ] engine.io streaming for each view (like https://github.com/Raynos/engine.io-stream/blob/master/server.js)
- [ ] SockJS streaming for each view

[2015-11-15 19:44] #488 closed

[2015-11-15 20:50] #599 closed

[2015-11-15 21:25] thepian commented on #600
@jerrygzy The newly released 0.5.2 should work for you

[2015-11-15 21:25] #600 closed

[2015-11-15 21:27] thepian commented on #423
@mooglin I will be fixing this in the coming weeks for `0.5`, any experience you would like to share on this?

[2015-11-16 03:48] arxpoetica commented on #488
Point me to the changes and I'll give you some opinions. :)

[2015-11-16 22:02] thepian commented on #594
@StuartHickey Have a look at socketstream-cookie-session repository, I'm making the session creating pluggable. It might already have enough for you to make token based auth

[2015-11-24 18:44] aaroncalderon opened #602 "Missing steps in installation."
The instructions on the [SocketStrream](http://socketstream.org/) website do not work. The installation process is broken.
[code]
1. `npm install -g socketstream ` Will not install devDependencies which are needed to run the app.
2. Thus, will brake `socketstream new my_app` and getting error `Cannot find module 'commander'`. After running `cd /path/to/npm/global/socketstream/path` and `npm instal

[2015-11-25 15:02] arxpoetica commented on #602
@thepian thoughts?

@aaroncalderon just to be clear, what version of SocketStream are you running?

[2015-11-25 16:05] aaroncalderon commented on #602
@arxpoetica  I am using version 5.2

[2015-12-26 08:30] paulbjensen commented on #602
Hi @aaroncalderon, apologies for the issue, it looks like we need to add an integration test that ensures that any app that is newly-generated by SocketStream can be installed and run without issues.

[2015-12-28 16:58] aaroncalderon commented on #602
@paulbjensen Can you please reopen this issue as its partially solved? I have installed the develop branch as my global `socketstream` module. I accomplished this by cloning the develop git branch to my computer and then using that folder to install the module with npm: `npm install -g "/path/to/git/folder/"`

However I still get the same error for installing new socketstream app (__original issue

[2015-12-28 17:23] aaroncalderon opened #604 "Uncaught Error: Cannot find module 'socketstream-session' within '.'"
I recently tried to check if #602 had been addressed in #603, however, in the process I found that the sample app has stopped working.

Once the instructions have been followed and a new app has been installed/created by...

[code]

and I open `http://localhost:300' I get a console error:

[code]

So, I traced the error back to the client's [socketstream.js](https://github.com/socketstream/sockets

[2015-12-29 15:22] aaroncalderon commented on #602
So,

I figured it out. I moved commander to __dependencies__ on my local copy of socketstream, then I re installed that folder as my global socketstream. I tried to create the sample app and all went well.

I was not able to create a pull request, so I copied the diff text from GitHub Desktop below.

[code]

Thanks.

[2015-12-30 16:27] #602 closed

[2016-01-14 09:26] TibboddiT opened #606 "Problem with 'browserifyExcludePaths' client option"
I wanted to use the browserifyExcludePaths option, but it didn't work. After further investigations, I found a mistake at [this line](https://github.com/socketstream/socketstream/blob/develop/lib/client/bundler/proto.js#L325).

I think
[code]
should be
[code]
right ?

[2016-01-26 03:54] dalily commented on #604
i have the same probleme Uncaught Error: Cannot find module 'socketstream-session' within '.'

[2016-02-02 18:29] thepian commented on #604
I will have a look at it. In the meantime 0.4.x is the stable version

[2016-02-02 18:29] thepian commented on #606
Thanks for the catch

I will have a look at it. In the meantime 0.4.x is the stable version

[2016-05-06 15:38] msand commented on #604
@thepian Will you be publishing the socketstream-session package? And what is the current status with the project?

[2016-05-06 15:49] dalily commented on #604
Jute for more information i work on Mac OS X

[2016-05-22 17:01] thepian commented on #604
Sorry I've been quite busy lately, will get back to it ASAP. Version 0.4 is supposed to be the stable version 0.5 is work-in-progress.

OS X here as well

[2016-05-23 09:54] msand commented on #604
Ok, great :)

[2016-08-08 10:58] expelledboy commented on #508
@thepian I see you have an item to support socketcluster. Could you detail briefly what socketcluster is compared to socketstream? They are both large libraries and I am struggling to see whether they are alternatives, or can be integrated.

[2016-09-17 14:40] paulbjensen opened #607 "existsSync no longer exists on Node 6"
[code]

[2016-10-02 16:57] sand123 opened #608 "Is project is dead?"

[2016-10-03 14:37] arxpoetica commented on #608
I have not seen a lot of movement on it lately, and I used to be much more active as a participant. @paulbjensen? @thepian?

I believe @thepian is the current project lead.

[2016-10-03 15:06] sand123 commented on #608
I actually used 0.3.x branch in production and was satisfied with results, Now I'm starting another node rpc project from the ground and confused about SS as main framework - last commit almost 6 months ago.

[2016-10-03 20:02] paulbjensen commented on #608
Hi,

I handed over the role of running the project to @thepian last September, as my year was going to be very hectic. In the past year I've just about finished writing a book for Manning publications about Cross Platform Desktop Applications, moved back to London from Amsterdam, helped support my girlfriend as she went through medical treatment this year, and done all of that alongside a full tim

[2016-10-03 20:14] arxpoetica commented on #608
Currently, @thepian is the only one who can invite you back in (I'm only a member, not an owner).

[2016-11-14 10:45] msand opened #609 "Starting http server with ss.http.middleware manually and passing to ss.start(server) is not working."
Rpc call responders do not get called/bound. This is because of moving the loading of the responders from the socketstream getServer getter to the load-api task in socketstream/socketstream#590 In this case, the responders are not defined on the server object when loading the WebSockets layer. To fix this, the call to stream(plan.httpServer) should happen after the tasks (specifically after the lo

[2016-11-14 17:05] msand opened #611 "Bundling issues"
Bundling of transport layer not working when packing assets. SS_PACK=1 is not working correctly. Not using latest packed bundle id if uncaughtException handler is not set when SS_ENV=production.

Demo:
socketstream new project
cd project
npm install
SS_ENV=production node app.js
SS_PACK=1 node app.js
SS_ENV=production node app.js

[2016-11-23 11:42] thepian commented on #608
It is certainly not dead, but I will have to spend a couple of weeks full time to complete what I set out to do with 0.4

Additionally I see HTTP2 as the future of real-time long term. It will work over proxies which websockets will not. That would require a lot of effort to figure out, but to stay relevant I think Socketstream needs to move the needle forward.

I hope the project can be a communi

[2016-11-23 11:56] msand commented on #609
Fixed in https://github.com/socketstream/socketstream/commit/1ad3f8dbd4c62fedaf3a59a85dd70725c00a2948

[2016-11-23 11:56] #609 closed

[2016-11-23 11:57] msand commented on #611
Fixed in https://github.com/socketstream/socketstream/commit/1ad3f8dbd4c62fedaf3a59a85dd70725c00a2948

[2016-11-23 11:57] #611 closed

[2016-11-23 12:01] msand commented on #608
I might be able to help to some extent, we're still using SocketStream in http://infinitewhiteboard.com/ (hobby/side project), and HTTP2 would definitely be a great addition in general.

[2016-12-07 22:39] paulbjensen commented on #608
No. I'm back to help.

[2016-12-07 22:49] paulbjensen commented on #607
I'm going to see if I can fix this first, before changing anything else.

[2016-12-07 23:40] paulbjensen commented on #607
I should add that this was run on an app running 0.3.

[2016-12-10 09:37] paulbjensen commented on #608
I'll close the issue.

[2016-12-10 09:37] #608 closed

[2016-12-10 09:42] paulbjensen commented on #607
I'll note that 0.3 doesn't work on Node 6. As for 0.4.5, chokidar@1.1.0 is not installing on Node 6:

[code]

[2016-12-24 15:57] pygy opened #615 "Website URL/certificate woes..."
Hello fellows, long time no see, glad to see the project is still kicking.

the Github "homepage" field points to https://socketstream.com whose certificate has expired. The HTTP URL is redirected to HTTPS.

The certificate for the .org is registered for *.anaphenix.com, but at least the HTTP version is served.

Edit: looking deeper into the cert error messages, they are not self-signed as I initi

[2016-12-25 08:06] paulbjensen commented on #615
Hi,

I've started the process of reissuing the certificate for it, we will see how it goes.

[2016-12-25 18:17] paulbjensen commented on #615
The SSL cert for socketstream.com has been updated

[2016-12-25 20:26] pygy commented on #615
👍
Works from here now.

[2016-12-25 20:26] #615 closed

[2017-02-08 10:10] MaheshBusa opened #616 "Error: Cannot find module './lib/parse-js'"
module.js:471
    throw err;
    ^

Error: Cannot find module './lib/parse-js'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (D:\Users\nabusa\project\angular-seed-enhanced-master\
node_modules\karma\node_modules\socket.io\node_mod

[2017-02-08 10:11] MaheshBusa commented on #616
[‎08-‎Feb-‎17 14:51] Busa, Naga:
module.js:471
module.js:471
    throw err;
    ^

Error: Cannot find module './lib/parse-js'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (D:\Users\nabusa\project\angular-seed-enhanced-master\
nod

[2017-02-08 10:30] MaheshBusa commented on #218
module.js:471
    throw err;
    ^

Error: Cannot find module './lib/parse-js'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (D:\Users\nabusa\project\angular-seed-enhanced-master\
node_modules\karma\node_modules\socket.io\node_mod

[2017-03-02 22:58] paulbjensen commented on #616
Hi,

As suggested in #218, try running this command to resolve the uglify-js issue that you are experiencing:

    npm install uglify-js -g

The stack trace indicates that this isn't running a SocketStream app, but instead another app, and therefore not directly-linked to SocketStream. I will therefore close this issue.

[2017-03-02 22:58] #616 closed

[2017-03-03 07:14] paulbjensen commented on #607
Going to close - SocketStream 0.3 won't be supported on Node.js version 6.

[2017-03-03 07:14] #607 closed

[2017-03-03 07:33] paulbjensen opened #617 "Grab bag of issues"
I'm finishing up on the book at Manning, and I will have some more time to work on SS.

Looking at the repo, it looks like there are a couple of things to sort out:

- Issues on the repo (getting any bugs fixed there)
- Dependencies needing updating (the version of uglifyJS that SS is using has a security vulnerability)
- Getting code coverage up (it's improved massively given there weren't any te

[2017-03-04 08:27] paulbjensen commented on #617
I'd like to propose that we simplify the branching strategy.

At the moment there are 2 versions of SocketStream being worked on - 0.5 (unstable) in the develop branch and 0.4 (stable) in the master branch. I'd like to propose getting the 0.5 branch stable first, then getting it merged into master and dealing with the merge conflicts that currently exist there.

The goal is so that we don't have t

[2017-03-04 12:39] arxpoetica commented on #617
Agreed. Full steam ahead.

[2017-03-05 13:29] hosseinGanjyar opened #618 "Download stream data"
Can I download stream data on client (~2GB) without RAM involved?

[2017-03-05 21:54] paulbjensen commented on #618
Very interesting question. If you want to store stream data on the client but not in memory, then there is the possibility of using the browser's localstorage API to do store data, and use a trick around subdomains to store multiple gigabytes of data on the user's comptuer. For an example, Feross' fill disk repo is worth a look: https://github.com/feross/filldisk.com.

Hope that helps.

[2017-03-18 07:15] yanzixiang commented on #604
for so long time,the problem happens same here now.

[2017-03-18 07:43] paulbjensen commented on #604
I'll take a look.

[2017-03-18 08:36] msand commented on #604
Probably the 0.5.3 version / develop branch

[2017-03-18 08:49] msand commented on #604
require('socketstream-session') is mentioned in three places:
https://github.com/socketstream/socketstream/blob/develop/lib/websocket/transports/sockjs/wrapper.js#L21
https://github.com/socketstream/socketstream/blob/develop/lib/client/system/modules/socketstream.js#L17
https://github.com/socketstream/socketstream/blob/develop/lib/websocket/transports/engineio/wrapper.js#L25
But the socketstream-s

[2017-03-19 15:13] paulbjensen commented on #604
This might be the item in question:

https://github.com/socketstream/socketstream-cookie-session
https://www.npmjs.com/package/socketstream-cookie-session

I will dig a bit further.

[2017-03-20 00:48] msand commented on #604
This seems to work at least:
npm install socketstream@0.5.2
socketstream new testssproj
cd testssproj
npm install
npm install sockstream@0.5.2
npm install chokidar
node app.js
open localhost:3000
So, the relevant parts are probably isolated to this:
https://github.com/socketstream/socketstream/compare/0.5.2...develop
and https://github.com/socketstream/socketstream-cookie-session

[2017-03-20 00:55] msand commented on #604
More specifically, these: https://github.com/socketstream/socketstream/compare/ba6d09f6194aef469c5c9c85486a31b15a6bd840...c6d357d2db6f981625a5efe09cdadd8a0533208d

[2017-04-29 10:36] paulbjensen commented on #617
@thepian thoughts?

[2018-05-09 19:04] paulbjensen commented on #617
Does anyone object if I go ahead and do this?

[2018-05-10 04:07] arxpoetica commented on #617
@paulbjensen no objections. To be honest, I've moved on from the glory days of SocketStream--been using Svelte and Sapper for my latest projects. It was a great ride though! Definitely make any changes you think appropriate.

[2018-05-11 07:48] paulbjensen commented on #617
Cool. I will go and do it.

[2019-05-23 13:51] nponeccop opened #619 "Roadmap for 0.4.7"
I'm going to port an in-house project from 0.4.3 and node 0.10 to 0.4.6 and node 8.x (LTS boron) as the latter seems least broken for the dependencies my project has.

So I volunteer to take over maintenance of the 0.4.x branch from @paulbjensen

My tasks are essentially:
- [ ] bump and/or fix the deps
- [ ] fix incompatibilities
- [ ] integrate fixes from other branches if any
- [ ] do as many sm

[2019-05-23 14:07] paulbjensen commented on #619
Hi @nponeccop, please do.

[2020-04-16 17:29] nponeccop commented on #619
@paulbjensen The patch is at release candidate stage now. So everybody can test my branch and if it works I can make the commits nicer and we can release **0.4.6** which is basically **a compatibility fix for newer deps and node**. Some `ss-` helpers were branched too, and some security-related changes were pushed to the deps.

It turns out that the changes I made a year ago were enough for my app

[2020-12-31 15:31] paulbjensen commented on #619
@nponeccop Hi, sorry I've just stumbled across this message now.

Do you want the branch to be merged into master and then prepare for a 0.4.6 release?

[2021-01-05 13:58] nponeccop commented on #619
Yes. Note that you need to merge the helpers as well - I guess ss-hogan and/or ss-stylus

I've been using it for quite a while already.

[2021-03-14 09:25] paulbjensen commented on #619
Hi,

That PR was merged into master.

[2021-03-15 22:35] nponeccop commented on #619
Great! What's next?

[2021-03-15 22:48] nponeccop commented on #619
Ok it's `ss-stylus` and `ss-coffee` pull requests I used:

https://github.com/socketstream/ss-stylus/pull/8
https://github.com/socketstream/ss-coffee/pull/4

They need to be merged, too. Note that I patched an already patched fork in case of ss-stylus

[2021-03-21 10:26] paulbjensen commented on #619
Those are merged in. I can give you npm access to the ss-stylus and socketstream npm modules. Do you have a an npm username?

[2021-03-26 01:52] nponeccop commented on #619
Yes. It's `nponeccop`. Same as here.

[2021-03-26 09:14] paulbjensen commented on #619
Thanks. I've given you access to socketstream and ss-stylus npm packages.

[2021-04-13 11:12] yinxiL opened #623 "Regular Expression DoS vulnerability"
We are working on the [ReDoS](https://www.owasp.org/index.php/Regular_expression_Denial_of_Service_-_ReDoS) problem and detected 2 vulnerable regex(es) from your repository.

1: ``:((?:[\w\u00c0-\uFFFF\-]|\\.)+)(?:\((['"]?)((?:\([^\)]+\)|[^\(\)]*)+)\2\))?`` in socketstream/test/fixtures/project/client/code/libs/jquery.min.js
2: ``((?:\((?:\([^()]+\)|[^()]+)+\)|\[(?:\[[^\[\]]*\]|['"][^'"]*['"]|[^\[

[2021-04-13 13:46] nponeccop commented on #623
It's in jQuery used for test fixtures. Probably _won't fix_ although an upgrate to latest minor version of jQuery is possible at some point after the next release, which will happen soon.

[2022-06-11 06:58] paulbjensen commented on #617
Closing as I haven't work on this and I won't be able to commit any time to it.

[2022-06-11 06:58] #617 closed

[2022-06-11 06:59] paulbjensen commented on #455
Closing as no longer working on it.

[2022-06-11 06:59] #455 closed